<%= form_with(model: [@place, @menu], url: place_menus_path) do |form| %>
  <% if menu.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
        <% menu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "İsim", style: "display: block" %>
    <%= form.text_field :name, placeholder: "Hazelnut Brownie Brioche" %>
  </div>

  <div>
    <%= form.label "Tanımı", style: "display: block" %>
    <%= form.text_area :description, placeholder: "Brownie ve fındık pralinli brioche.  Brownie Brioche ..." %>
  </div>

  <div>
    <%= form.label "Görsel Seçin", style: "display: block" %>
    <%= form.file_field :menu_images, multiple: true %>
  </div>

  <div>
    <%= form.label "Ürün Kategorisi", style: "display: block" %>
    <%= form.select :product_category, Menu.product_categories.keys %>
  </div>

  <div>
    <%= form.label "Fiyat (₺)", style: "display: block" %>
    <%= form.number_field :price, placeholder: "33" %>
  </div>

  <div>
    <%= form.submit "Ekle" %>
  </div>
<% end %>
