<section class="menu-item" id="<%= dom_id menu %>">

  <div class="menu-heading-container">
    <h4 class="name">
      <%= menu.name %>

      <%= link_to new_menu_edit_path(@place, menu), data: { turbo_frame: "menu_edit_#{menu.id}" }, class: "edit", hidden: true do %>
                        <span class="edit-icon-container">
                  <%= image_tag "edit.svg", class: "edit-icon" %>
                </span>
        <% end %>
     </h4>

    <p class="price">
      <%= menu.price %> ₺
    </p>
  </div>

  <%= render partial: "menus/likes", locals: {place: @place, menu: menu} %>

  <div class="menu-item-details">
    <% if menu.image.attached? %>
      <%= image_tag menu.image, class: "menu-image" %>
    <% end %>

    <p class="description medium-font yellow">
      <%= menu.description %>
    </p>
  </div>
    <%= turbo_frame_tag "menu_edit_#{menu.id}" do  %>
  <% end %>
</section>
