<div class="menu-item" id="<%= dom_id menu %>">
  <div>
    <p class="name">
      <%= menu.name %>
    </p>

    <p class="price">
      <%= menu.price %>
    </p>
  </div>

  <div>
    <% if menu.menu_images.attached? %>
      <% menu.menu_images.each do |image| %>
        <%= image_tag image, class: "menu-image" %>
      <% end %>
    <% end %>

    <p class="description">
      <%= menu.description %>
    </p>
  </div>
</div>