<div id="<%= dom_id menu %>">

  <% if menu.menu_images.attached? %>
    <% menu.menu_images.each do |image| %>
      <%= image_tag image, class: "menu-image" %>
    <% end %>
  <% end %>


  <p>
    <strong>Name:</strong>
    <%= menu.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menu.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= menu.price %>
  </p>

</div>
