<div class="menu-item" id="<%= dom_id menu %>">
  <div>
    <p class="name medium-font semi-bold">
      <%= menu.name %>
    </p>

    <p class="price medium-font medium-weight">
      <%= menu.price %>
    </p>
  </div>

  <div>
    <% if menu.menu_images.attached? %>
      <% menu.menu_images.each do |image| %>
        <%= image_tag image, class: "menu-image" %>
      <% end %>
    <% end %>

    <p class="description medium-font">
      <%= menu.description %>
    </p>
  </div>
</div>