<div id="<%= dom_id menu %>">
  <p>
    <strong>Name:</strong>
    <%= menu.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menu.description %>
  </p>

  <p>
    <strong>Product category:</strong>
    <%= menu.product_category %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= menu.place_id %>
  </p>

</div>
