<section class="menu-item" id="<%= dom_id menu %>">

  <div class="menu-heading-container">
    <h4 class="name">
      <%= menu.name %>
      <%= link_to edit_place_menu_path(@place, menu), data: { turbo_frame: "menu_edit_#{menu.id}" }, class: "edit-wrapper", hidden: true do %>
        <span class="edit-icon-container">
          <%= image_tag "edit.svg", class: "edit-icon" %>
         </span>
      <% end %>
      <%= link_to place_menu_path(@place, menu), method: :delete, data: { turbo_confirm: "Are you sure?", turbo_method: "delete" }, class: "edit-wrapper", hidden: true do %>
        <span class="edit-icon-container delete-icon-container">
          <%= image_tag "delete.svg", class: "edit-icon delete-icon" %>
        </span>
      <% end %>
     </h4>

    <p class="price">
      <% if menu.price =! 0 %>
        <%= menu.price %>₺
      <% end %>
    </p>
  </div>

  <%= render partial: "menus/likes", locals: {place: @place, menu: menu} %>

  <div class="menu-item-details">
    <% if menu.image.attached? %>
      <%= image_tag menu.image.variant(resize_to_limit: [280,150]), class: "menu-image", loading: "lazy" %>
    <% end %>

    <p class="description">
      <%= menu.description %>
    </p>
  </div>
    <%= turbo_frame_tag "menu_edit_#{menu.id}" %>
</section>
