<section class="user-forms">

<h2>Kayıt Ol</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { turbo: false}}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, 'E-posta' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "mail@adresiniz.com" %>
  </div>

  <div class="field">
    <%= f.label :password, 'Parola' %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: '******' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Parola Doğrulaması' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '******' %>
  </div>

  <div class="field">
    <%= flash[:recaptcha_error] %>
    <%= recaptcha_tags %>
  </div>

  <div class="actions">
    <%= f.submit "Kayıt Ol", id:"signup-button" %>
  </div>
<% end %>

<div class="session-links-container">
  <%= render "devise/shared/links" %>
</div>
</div>
