<section class="user-forms bg-green">

<%= link_to :back, class: "arrow" do %>
  <%= image_tag "back-icon.svg" %>
<% end %>

<h2 class="medium-weight black">Kayıt Ol</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, 'E-posta', class: "black" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'kullanıcı@mail.com', class: "bg-beige" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "black" 'Parola' %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: '******', class: "bg-beige" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Parola Doğrulaması', class: "black" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '******', class: "bg-beige" %>
  </div>

  <div class="actions">
    <%= f.submit "Kayıt Ol", id:"signup-button", class: "medium-font beige bg-dark-green" %>
  </div>
<% end %>

<div class="session-links-container">
  <%= render "devise/shared/links" %>
</div>
</div>