<section class="pending">
  <h2>Mekan Düzenleme Onayları</h2>
  <% @place_edits.each do |place_edit| %>
    <article class="pending-edit">
      <div>
        <ul>
          <li></li>
          <li>Adı: <%= place_edit.place.name %></li>
          <li>Adres: <%= place_edit.place.address %></li>
          <li>Vegan mı? <%= place_edit.place.vegan %></li>
          <li>Instagram: <%= place_edit.place.instagram_url %></li>
          <li>Facebook: <%= place_edit.place.facebook_url %></li>
          <li>Twitter: <%= place_edit.place.twitter_url %></li>
          <li>Web Sitesi: <%= place_edit.place.web_url %></li>
          <li>E-posta: <%= place_edit.place.email %></li>
          <li>Telefon: <%= place_edit.place.phone %></li>
          <li></li>
          <li></li>
        </ul>
      </div>
        <ul>
          <li>Öneri Tarihi: <%= place_edit.created_at %></li>
          <li>Adı: <%= place_edit.name %></li>
          <li>Adres: <%= place_edit.address %></li>
          <li>Vegan mı? <%= place_edit.vegan %></li>
          <li>Instagram: <%= place_edit.instagram_url %></li>
          <li>Facebook: <%= place_edit.facebook_url %></li>
          <li>Twitter: <%= place_edit.twitter_url %></li>
          <li>Web Sitesi: <%= place_edit.web_url %></li>
          <li>E-posta: <%= place_edit.email %></li>
          <li>Telefon: <%= place_edit.phone %></li>
          <li>Düzenleyen: <%= place_edit.user.email %></li>
          <li><%= link_to "Onayla", place_approve_place_edit_path(place_id: place_edit.place.id, id: place_edit.id), method: "post", remote: true, data: { turbo_method: "post" } %>
              <%= link_to "Reddet", place_destroy_place_edit_path(place_id: place_edit.place.id, id: place_edit.id), method: "delete", remote: true, data: { turbo_method: "delete" } %>
          </li>
        </ul>
      </div>
    </article>
  <% end %>
</section>


<h2>Yeni Mekan Onayları</h2>
<table>
<thead>
<tr>
<th>Öneri Tarihi</th>
<th>Mekanın Adı</th>
<th>Adres</th>
<th>Vegan mı?</th>
<th>Instagram</th>
<th>Facebook</th>
<th>Twitter</th>
<th>Web Sitesi</th>
<th>E-posta</th>
<th>Telefon</th>
<th>Onayla</th>
<th>Ekleyen Kişi</th>
</tr>
</thead>
<tbody id="place_adds">
<% @pending_places.each do |pending_place| %>
<tr>
<td><%= pending_place.created_at %></td>
<td><%= pending_place.name %></td>
<td><%= pending_place.address %></td>
<td><%= pending_place.vegan %></td>
<td><%= pending_place.instagram_url %></td>
<td><%= pending_place.facebook_url %></td>
<td><%= pending_place.twitter_url %></td>
<td><%= pending_place.web_url %></td>
<td><%= pending_place.email %></td>
<td><%= pending_place.phone %></td>
<td><%= link_to "Onayla", approve_place_path(id: pending_place.id), method: "post", remote: true, data: { turbo_method: "post" } %>
<%= link_to "Reddet", reject_place_path(id: pending_place.id), method: "delete", remote: true, data: { turbo_method: "delete" } %>
</td>
<td><%= pending_place.creator.email %></td>
</tr>
<% end %>
</table>
