<h2>Mekan Düzenleme Onayları</h2>
<section class="pending">
  <% @place_edits.each do |place_edit| %>
    <article class="pending-edit">
      <ul>
        <li></li>
        <li>Adı: <%= place_edit.place.name %></li>
        <li>Adres: <%= place_edit.place.address %></li>
        <li>Vegan mı? <%= place_edit.place.vegan %></li>
        <li>Instagram: <%= place_edit.place.instagram_url %></li>
        <li>Facebook: <%= place_edit.place.facebook_url %></li>
        <li>Twitter: <%= place_edit.place.twitter_url %></li>
        <li>Web Sitesi: <%= place_edit.place.web_url %></li>
        <li>E-posta: <%= place_edit.place.email %></li>
        <li>Telefon: <%= place_edit.place.phone %></li>
        <li></li>
        <li></li>
      </ul>
      <ul>
        <li>Öneri Tarihi: <%= place_edit.created_at %></li>
        <li>Adı: <%= place_edit.name %></li>
        <li>Adres: <%= place_edit.address %></li>
        <li>Vegan mı? <%= place_edit.vegan %></li>
        <li>Instagram: <%= place_edit.instagram_url %></li>
        <li>Facebook: <%= place_edit.facebook_url %></li>
        <li>Twitter: <%= place_edit.twitter_url %></li>
        <li>Web Sitesi: <%= place_edit.web_url %></li>
        <li>E-posta: <%= place_edit.email %></li>
        <li>Telefon: <%= place_edit.phone %></li>
        <li>Düzenleyen: <%= place_edit.user.email %></li>
        <li>
            <%= link_to "Onayla", place_approve_place_edit_path(place_id: place_edit.place.id, id: place_edit.id), method: "post", remote: true, data: { turbo_method: "post" } %>
            <%= link_to "Reddet", place_destroy_place_edit_path(place_id: place_edit.place.id, id: place_edit.id), method: "delete", remote: true, data: { turbo_method: "delete" } %>
        </li>
      </ul>
      </div>
    </article>
    <div class="edit-divider"></div>
  <% end %>
</section>

 <h2>Yeni Mekan Onayları</h2>
<section class="pending">
  <% @pending_places.each do |pending_place| %>
    <article class="pending-place">
      <ul>
        <li>Öneri Tarihi: <%= pending_place.created_at %></li>
        <th>Mekanın Adı: <%= pending_place.name %></th>
        <li>Adres: <%= pending_place.address %></li>
        <li>Vegan mı? <%= pending_place.vegan %></li>
        <li>Instagram: <%= pending_place.instagram_url %></li>
        <li>Facebook: <%= pending_place.facebook_url %></li>
        <li>Twitter: <%= pending_place.twitter_url %></li>
        <li>Web Sitesi: <%= pending_place.web_url %></li>
        <li>E-posta: <%= pending_place.email %></li>
        <li>Telefon: <%= pending_place.phone %></li>
        <li>Ekleyen: <%= pending_place.creator.email %></li>
        <li>
          <%= link_to "Onayla", approve_place_path(id: pending_place.id), method: "post", remote: true, data: { turbo_method: "post" } %>
          <%= link_to "Reddet", reject_place_path(id: pending_place.id), method: "delete", remote: true, data: { turbo_method: "delete" } %>
        </li>
      </ul>
    </article>
    <div class="place-divider"></div>
  <% end %>
</section>