<h2>Mekan Düzenleme Onayları</h2>
<section class="pending">
  <% @place_edits.each do |place_edit| %>
    <article class="pending-edit">
      <ul class="pending-item">
        <li>Öneri Tarihi: <%= place_edit.created_at %></li>
        <li>Mekanın Adı: <%= place_edit.changeable.name %></li>
        <% if place_edit.name %>
        <li>Adı:  <%= place_edit.changeable.name %> --> <%= place_edit.name %></li>
        <% end %>

      <% if place_edit.images.attached? %>
        <p>Eklenen Fotoğraflar:</p>
        <div data-controller="slider" class="slider bg-dark-green">
          <div class="slider-container">
              <% place_edit.images.each do |image| %>
                <%= image_tag image, class: "slider-image", data: { slider_target: "image" } %>
              <% end %>
              <div class="slide-buttons">
                <span data-action="click->slider#previous"></span>
                <span data-action="click->slider#next"></span>
              </div>
              <div class="slider-number" data-slider-target="number">
              </div>
            <% else %>
              <%= image_tag "default-place-image.jpg", class: "slider-image", data: { slider_target: "image" } %>
            </div>
          </div>
      <% end %>

      <% if place_edit.deleted_images.any? %>
        <p>Silinen Fotoğraflar:</p>
        <% place_edit.deleted_images.each do |image_id| %>
          <% image = ActiveStorage::Blob.find(image_id) %>
          <%= image_tag url_for(image) %>
        <% end %>
      <% end %>


        <% if place_edit.address %>
        <li>Adres: <%= place_edit.changeable.address %> <%= place_edit.address %></li>
        <% end %>
        <% if place_edit.vegan %>
        <li>Vegan mı? <%= place_edit.changeable.vegan %> <%= place_edit.vegan %></li>
        <% end %>
        <% if place_edit.instagram_url %>
        <li>Instagram: <%= place_edit.changeable.instagram_url %> <%= place_edit.instagram_url %></li>
        <% end %>
        <% if place_edit.facebook_url %>
        <li>Facebook: <%= place_edit.changeable.facebook_url %> <%= place_edit.facebook_url %></li>
        <% end %>
        <% if place_edit.twitter_url %>
        <li>Twitter: <%= place_edit.changeable.twitter_url %> <%= place_edit.twitter_url %></li>
        <% end %>
        <% if place_edit.web_url %>
        <li>Web Sitesi: <%= place_edit.changeable.web_url %> <%= place_edit.web_url %></li>
        <% end %>
        <% if place_edit.email %>
        <li>E-posta: <%= place_edit.changeable.email %> <%= place_edit.email %></li>
        <% end %>
        <% if place_edit.phone %>
        <li>Telefon: <%= place_edit.changeable.phone %> <%= place_edit.phone %></li>
        <% end %>

        <li>Düzenleyen: <%= place_edit.user.email %></li>
      </ul>
      </div>
    </article>
    <div class="edit-divider"></div>
  <% end %>
</section>

<h2>Yeni Mekan Onayları</h2>
<section class="pending">
  <% @pending_places.each do |pending_place| %>
    <article class="pending-place">
      <ul class="pending-item">
        <li>Öneri Tarihi: <%= pending_place.created_at %></li>
        <li>Mekanın Adı: <%= pending_place.name %></li>
        <li>Adres: <%= pending_place.address %></li>
        <li>Vegan mı? <%= pending_place.vegan %></li>
        <li>Instagram: <%= pending_place.instagram_url %></li>
        <li>Facebook: <%= pending_place.facebook_url %></li>
        <li>Twitter: <%= pending_place.twitter_url %></li>
        <li>Web Sitesi: <%= pending_place.web_url %></li>
        <li>E-posta: <%= pending_place.email %></li>
        <li>Telefon: <%= pending_place.phone %></li>
        <li>Ekleyen: <%= pending_place.creator.email %></li>
        <li>
          <%= link_to "Onayla", approve_place_path(id: pending_place.id), class: "approve-btn", method: "post", remote: true, data: { turbo_method: "post" } %>
          <%= link_to "Reddet", reject_place_path(id: pending_place.id), class: "reject-btn", method: "delete", remote: true, data: { turbo_method: "delete" } %>
        </li>
      </ul>
    </article>
    <div class="place-divider"></div>
  <% end %>
</section>
