<%= form_with(model: brand, url: brand.persisted? ? admin_brand_path(brand) : admin_brands_path) do |form| %>
  <%= render 'shared/error_messages', object: brand %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
