<%= render "place_owner/shared/navigation" %>

<main>
  <div class="place-owner-panel-title">
    <h3 class="text-center"><%= t '.place_rating' %>: <%= average_rating(@reviews) %></h3>
    <h3 class="text-center"><%= t '.total_review_count' %>: <%= @reviews.size %></h3>
  </div>

  <% @reviews.each do |review| %>
    <article class="place-owner-feedback">
        <div class="place-owner-feedback-photos">
            <% review.images.each do |image| %>
              <%= image_tag rails_public_blob_url(image), class: "place-owner-single-feedback-photo" %>
            <% end %>
        </div>

      <p><%= t'.rating' %>: <b><%= review.rating %>/5</b> </p>
      <p><%= t'username' %>:  <%= review.user.username %> </p>
      <p><%= t'.content' %>: <b><%= review.content %></b> </p>
      <p><%= t'.feedback' %>: <b><%= review.feedback %></b> </p>
      <p><%= t'created_at' %> <%= time_in_words(review, "created_at") %> </p>
      <p><%= t'updated_at' %> <%= time_in_words(review, "updated_at") %> </p>
    </article>
  <% end %>
</main>
