<aside id="admin-aside">
  <nav>
    <ul>
      <li><%= link_to t(".homepage"), root_path %></li>
      <li><%= link_to t(".dashboard"), admin_root_path %></li>
      <li><%= link_to t(".approvals"), admin_approvals_path %></li>
      <li><%= link_to Brand.model_name.human(count: :many), admin_brands_path %></li>
      <li><%= link_to Shop.model_name.human(count: :many), admin_shops_path %></li>
    </ul>
  </nav>
</aside>
