<main id="contact">
  <h2 id="invite" class="mobile"><%= t('views.home.contact.invite') %></h2>
  <br class="mobile">
  <div class="vh-instagram mobile">
    <%= link_to "https://www.instagram.com/veganharita", target: "_blank" do %>
      <%= image_tag ('instagram.svg') %>
      <span>veganharita</span>
    <% end %>
  </div>
  <br class="mobile">

  <span class="mobile"> <%= t('views.home.contact.or') %> </span>
  <br class="mobile">

  
  <h1><%= t('views.home.contact.contact_us') %></h1>
  <p><%= t('views.home.contact.contact_us_text') %></p>
  <%= form_with url: send_mail_path, html: { multipart: true, class: "contact-form", data: {turbo: false} } do |form| %>
    <div class="field">
      <%= form.label :message, t('views.home.contact.message').html_safe %>
      <%= form.text_area :message, value: @contact_params[:message], autofocus: true, maxlength: 2000, required: true %>
    </div>
    <div class="field select-wrapper" data-controller="utils" data-utils-assets-value="<%= [t('files_selected'), t('no_files_selected')].to_json %>">
      <%= form.label t('image') %>
      <span id="file-upload-btn" data-utils-target="uploadBtn"><%= t(:no_file_selected) %></span>
      <%= form.file_field :images, multiple: true, accept: "image/*", direct_upload: true, data: { action: "change->utils#uploadFiles", content: t('select_image') }, id: "image-input" %>
    </div>
    <div class="field">
      <%= form.label t('views.home.contact.name_username') %>
      <%= form.text_field :name, value: @contact_params[:name], maxlength: 50 %>
    </div>
    <div class="field">
      <%= form.label t(:your_email) %>
      <%= form.email_field :email,value: @contact_params[:email], maxlength: 50 %>
    </div>
    <div class="field">
      <%= flash[:recaptcha_error] %>
      <%= recaptcha_tags %>
    </div>
    <div class="actions">
      <%= form.submit t(:submit) %>
    </div>
  <% end %>
  <div class="legal-links">
    <%= link_to t('privacy_policy.link_text'), privacy_policy_path %>
    <%= link_to t('terms_of_use.link_text'), terms_of_use_path %>
    <%= link_to t('cookie_policy.link_text'), cookie_policy_path %>
    <%= link_to t('user_agreement.link_text'), user_agreement_path %>
  </div>
</main>
