<%= turbo_frame_tag "menu_edit_#{@menu.id}" do %>
  <div class="menu-form-container">
    <%= form_with(model: [@change_log], url: create_menu_edit_path(place_id: @place), method: :post, class: "menu-form") do |form| %>

        <div class="form-group">
        <%= form.label "Ürünün İsmi", style: "display: block" %>
        <%= form.text_field :name, value: @menu.name, placeholder: "Kuzey Kore Usulü Kızarmış Tofu", autofocus: true, required: true %>
      </div>

        <div class="form-group">
        <%= form.label "Tanım veya içerik", style: "display: block" %>
        <%= form.text_area :description, value: @menu.description, placeholder: "Tofu, soğan ve susam ve Kuzey Kore baharatları...", required: true %>
      </div>

      <div>
        <%= form.label "Fotoğrafı Değiştir", style: "display: block" %>
            <% if @menu.image.attached? %>
          <%= image_tag @menu.image, class: "menu-image" %>
        <% end %>
        <%= form.file_field :image, accept: "image/*" %>
      </div>

      <div>
        <%= form.label "Ürün Kategorisi", style: "display: block" %>
        <%= form.select :product_category, Menu.product_categories.keys, selected: @menu.product_category %>
      </div>

      <div>
        <%= form.label "Fiyat (₺)", style: "display: block" %>
        <%= form.number_field :price, value: @menu.price, placeholder: "33", step: 0.5, class:"menu-item-price-input" %>
      </div>

      <div class="form-buttons">
        <%= form.submit "Gönder", class:"primary-green-btn", data: { turbo_confirm: "Emin misiniz?" }  %>
        <a href="#" class="turbo-cancel-btn">Boşver</a>
      </div>
    <% end %>
  </div>
<% end %>
