<%= turbo_frame_tag "place-name" do %>

  <%= form_with(model: @change_log, url: create_place_edit_path(@place), method: :post, class: "modalize") do |form| %>
    <div class="inputs-wrapper">
      <div class="form-group">
        <%= form.label "Mekanın Adı" %>
        <%= form.text_field :name, value: @place.name, placeholder: "X Vegan Cafe", required: true, maxlength: 80, size: nil, autofocus: true, class: "modal-input" %>
      </div>

      <div class="form-buttons">
        <%= form.submit "Gönder", class:"primary-green-btn", data: { turbo_confirm: "Emin misiniz?" }  %>
        <a href="#" class="turbo-cancel-btn">İptal</a>
      </div>
    </div>

  <% end %>
<% end %>


<%= turbo_frame_tag "place-vegan" do %>
  <%= form_with(model: @change_log, url: create_place_edit_path(@place), method: :post, class: "modalize") do |form| %>

    <div class="inputs-wrapper">
      <%= form.label "Bu işletme vegan mı yoksa sadece bazı vegan seçenekler mi sunuyor?" %>
      <%= form.select :vegan, options_for_select([["Vegan", true], ["Vegan Seçenekli", false]], selected: @place.vegan), {}, class: "select-vegan" %>

      <div class="form-buttons">
        <%= form.submit "Gönder", class:"primary-green-btn", data: { turbo_confirm: "Emin misiniz?" }  %>
        <a href="#" class="turbo-cancel-btn">Vazgeç</a>
      </div>
    </div>
  <% end %>
<% end %>

<%= turbo_frame_tag "place-location" do %>
  <%= form_with(model: @change_log, data: {controller: "place", action: "google-maps-callback@window->place#initializeMap"}, url: create_place_edit_path(@place), method: :post, class: "modalize") do |form| %>

    <div id="modal-location-wrapper">
  <div class= "form-group">
    <%= form.label "Adres" %>
    <%= form.text_field :address,  data: {place_target: "field", action: "keydown->place#preventSubmit"}, placeholder: "X Vegan Cafe, Kadıköy...", required: true, autofocus: true, id: "location-input" %>
      <div id="modal-map"  data-place-target="map"></div>
  </div>



  <%= form.hidden_field :latitude, data: {place_target: "latitude"} %>
  <%= form.hidden_field :longitude, data: {place_target: "longitude"}  %>

    <div class="form-buttons">
      <%= form.submit "Gönder", class:"primary-green-btn", data: { turbo_confirm: "Emin misiniz?" }  %>
      <a href="#" class="turbo-cancel-btn">İptal</a>
    </div>
    </div>
  <% end %>
<% end %>

<%= turbo_frame_tag "place-phone" do %>
  <%= form_with(model: @change_log, url: create_place_edit_path(@place), method: :post, class: "modalize") do |form| %>
    <div class= "inputs-wrapper">
      <div class="form-group">
        <%= form.label "Telefon", style: "display: block" %>
        <%= form.text_field :phone, value: @place.phone, pattern: "[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}",  placeholder: "5XXXXXXXXX"  %>
      </div>
      <div class="form-buttons">
        <%= form.submit "Gönder", class:"primary-green-btn", data: { turbo_confirm: "Emin misiniz?" }  %>
        <a href="#" class="turbo-cancel-btn">İptal</a>
      </div>
    </div>
  <% end %>
<% end %>

<%= turbo_frame_tag "place-web" do %>
  <%= form_with(model: @change_log, url: create_place_edit_path(@place), method: :post) do |form| %>
    <div class= "add-new-place-form-group">
    <%= form.label "Web site Adresi", style: "display: block", class:"beige" %>
    <%= form.text_field :web_url, value: @place.web_url, placeholder: "siteadresi.com", class:"bg-beige dark-green" %>
  </div>
  <div class= "add-new-place-form-group">
    <%= form.submit "Gönder", class: "small-font bg-yellow dark-green" %>
  </div>
  <% end %>
<% end %>

<%= turbo_frame_tag "place-email" do %>
  <%= form_with(model: @change_log, url: create_place_edit_path(@place), method: :post) do |form| %>
  <div class= "add-new-place-form-group">
    <%= form.label "Email Adresi", style: "display: block", class:"beige" %>
    <%= form.text_field :email, value: @place.email, placeholder: "mail@mail.com", class:"bg-beige dark-green"
     %>
  </div>
    <div class= "add-new-place-form-group">
    <%= form.submit "Gönder", class: "small-font bg-yellow dark-green" %>
  </div>
  <% end %>
<% end %>

<%= turbo_frame_tag "place-instagram" do %>
  <%= form_with(model: @change_log, url: create_place_edit_path(@place), method: :post) do |form| %>
  <div class= "add-new-place-form-group">
    <%= form.label "Instagram Adresi", style: "display: block", class:"beige" %>
    <%= form.text_field :instagram_url, value: @place.instagram_url, placeholder: "https://www.instagram.com/yeradi/", class:"bg-beige dark-green" %>
  </div>
    <div class= "add-new-place-form-group">
    <%= form.submit "Gönder", class: "small-font bg-yellow dark-green" %>
  </div>
  <% end %>
<% end %>

<%= turbo_frame_tag "place-facebook" do %>
  <%= form_with(model: @change_log, url: create_place_edit_path(@place), method: :post) do |form| %>
  <div class= "add-new-place-form-group">
    <%= form.label "Facebook Adresi", value: @place.facebook_url, style: "display: block", class:"beige" %>
    <%= form.text_field :facebook_url, placeholder: "https://www.facebook.com/yeradi/", class:"bg-beige dark-green" %>
  </div>
    <div class= "add-new-place-form-group">
    <%= form.submit "Gönder", class: "small-font bg-yellow dark-green" %>
  </div>
  <% end %>
<% end %>

<%= turbo_frame_tag "place-twitter" do %>
  <%= form_with(model: @change_log, url: create_place_edit_path(@place), method: :post) do |form| %>
  <div class= "add-new-place-form-group">
    <%= form.label "Twitter Adresi", value: @place.twitter_url, style: "display: block", class:"beige" %>
    <%= form.text_field :twitter_url, placeholder: "https://www.twitter.com/yeradi/", class:"bg-beige dark-green" %>
  </div>
    <div class= "add-new-place-form-group">
    <%= form.submit "Gönder", class: "small-font bg-yellow dark-green" %>
  </div>
  <% end %>
<% end %>

<%= turbo_frame_tag "place-tags" do %>
  <%= form_with(model: @change_log, url: create_place_edit_path(@place), method: :post) do |form| %>
<div class="add-new-place-form-group tags-form-container " >
  <%= form.label "Etiketler", style: "display: block"%>
  <div class="tags-form">
  <% Tag.all.each do |tag| %>
    <label class="checkbox-inline">
      <%= form.check_box :tag_ids, { multiple: true, id: "tag-select", class: "small-font bg-beige dark-green", checked: @place.tag_ids.include?(tag.id) }, tag.id, nil %>
      <%= tag.name %>
    </label>
  <% end %>
    </div>
</div>
    <div class= "add-new-place-form-group">
    <%= form.submit "Gönder", class: "small-font bg-yellow dark-green" %>
  </div>
  <% end %>
<% end %>

<%= turbo_frame_tag "place-images" do %>
  <%= form_with(model: @change_log, url: create_place_edit_path(@place), method: :post) do |form| %>
    <div class= "add-new-photos">
      <%= form.label "Yeni Fotoğraflar Ekleyin" %>
      <%= form.file_field :images, multiple: true, accept: "image/*" %>
    </div>

    <% if @place.images.attached? %>
      <div class= "photo-select-form-container">
        <p>Silmek istediğiniz fotoğrafları seçin</p>
        <div class="select-images-container">
          <% @place.images.each do |image| %>
            <div class="image-checkbox">
              <%= form.check_box :deleted_images, { multiple: true }, image.id, nil %>
              <%= image_tag image.variant(resize_to_limit: [280,280]), class: "image-checkbox-image" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>


    <div class="form-buttons">
      <%= form.submit "Gönder", class:"primary-green-btn", data: { turbo_confirm: "Emin misiniz?" }  %>
      <a href="#" class="turbo-cancel-btn">İptal</a>
    </div>
  <% end %>
<% end %>
