<section class="user-forms">
  <h2>Giriş Yap</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, 'E-posta' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "mail@adresiniz.com"%>
    </div>

    <div class="field">
      <%= f.label :password, 'Parola' %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "******" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field" id="remember">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, 'Beni Hatırla' %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.button :submit do %>
        <span class="session-icon">
          <%= image_tag "sign-in-icon.svg" %>
        </span>
        <span class="session-text">Giriş Yap</span>
      <% end %>
    </div>
  <% end %>

  <div class="session-links-container">
    <%= render "devise/shared/links" %>
  </div>
</section>