<main style="padding: 48px; width: 100%; max-width: 800px; margin: 0 auto;" >
  <%= t('cookie_policy.title_html') %>
  <%= t('cookie_policy.last_update_html') %>
  <br><br>
  <%= t('cookie_policy.intro_html') %>
  <%= t('cookie_policy.cookie_html') %>
  <%= t('cookie_policy.cookie_text_html') %>
  <%= t('cookie_policy.mandatory_html') %>
  <%= t('cookie_policy.mandatory_text_html') %>
  <%= t('cookie_policy.performance_html') %>
  <%= t('cookie_policy.performance_text_html') %>
  <%= t('cookie_policy.functional_html') %>
  <%= t('cookie_policy.functional_text_html') %>
  <%= t('cookie_policy.advertising_html') %>
  <%= t('cookie_policy.advertising_text_html') %>
  <%= t('cookie_policy.personal_data_html') %>
  <%= t('cookie_policy.personal_data_text_html') %>
  <%= t('cookie_policy.purpose_html') %>
  <%= t('cookie_policy.purpose_text_html') %>
  <%= t('cookie_policy.managing_html') %>
  <%= t('cookie_policy.managing_text_html') %>

</main>
