<main style="padding: 48px; width: 100%; max-width: 800px; margin: 0 auto;">
  <%= t('privacy_policy.title_html') %>
  <%= t('privacy_policy.last_update_html') %>
  <br><br>
  <%= t('privacy_policy.intro_html') %>
  <%= t('privacy_policy.method_html') %>
  <%= t('privacy_policy.method_text_html') %>
  <%= t('privacy_policy.purpose_html') %>
  <%= t('privacy_policy.purpose_text_html') %>
  <%= t('privacy_policy.transfer_html') %>
  <%= t('privacy_policy.transfer_text_html') %>
  <%= t('privacy_policy.rights_html') %>
  <%= t('privacy_policy.rights_text_html') %>
  <%= t('privacy_policy.contact_html') %>
  <%= t('privacy_policy.contact_text_html') %>
</main>
