<main style="padding: 48px; width: 100%; max-width: 800px; margin: 0 auto;">
  <%= t('terms_of_use.title_html') %>
  <%= t('terms_of_use.last_update_html') %>
  <br><br>
  <%= t('terms_of_use.intro_html') %>
  <%= t('terms_of_use.privacy_html') %>
  <%= t('terms_of_use.privacy_text_html') %>
  <%= t('terms_of_use.scope_html') %>
  <%= t('terms_of_use.scope_text_html') %>
  <%= t('terms_of_use.copyrights_html') %>
  <%= t('terms_of_use.copyrights_text_html') %>
  <%= t('terms_of_use.provisions_html') %>
  <%= t('terms_of_use.provisions_text_html') %>
  <%= t('terms_of_use.liability_html') %>
  <%= t('terms_of_use.liability_text_html') %>
  <%= t('terms_of_use.dispute_html') %>
  <%= t('terms_of_use.dispute_text_html') %>
</main>
