<main style="padding: 48px; width: 100%; max-width: 800px; margin: 0 auto;" >
  <%= t('user_agreement.title_html') %>
  <%= t('user_agreement.last_update_html') %>
  <br><br>
  <%= t('user_agreement.usage_html') %>
  <%= t('user_agreement.usage_text_html') %>
  <%= t('user_agreement.content_html') %>
  <%= t('user_agreement.content_text_html') %>
  <%= t('user_agreement.notice_html') %>
  <%= t('user_agreement.notice_text_html') %>
  <%= t('user_agreement.privacy_html') %>
  <%= t('user_agreement.privacy_text_html') %>
  <%= t('user_agreement.disclaimer_html') %>
  <%= t('user_agreement.disclaimer_text_html') %>
  <%= t('user_agreement.changes_html') %>
  <%= t('user_agreement.changes_text_html') %>
</main>
