<p style="color: green"><%= notice %></p>

<%= render @product_category %>

<div>
  <%= link_to "Edit this product category", edit_admin_product_category_path(@product_category) %> |
  <%= link_to "Back to product categories", admin_product_categories_path %>

  <%= button_to "Destroy this product category", @admin_product_category, method: :delete %>
</div>
