<% I18n.with_locale(@locale) do %>
  <table align="center" width="100%" style="margin: 20px 0; font-family: General Sans, sans-serif;" role="presentation">
      <tr>
        <td align="center" style="padding: 20px; margin-top: 20px;">
          <table width="100%" style="border: 1px solid #e2e8f0; border-radius: 6px; text-align: center; background-color: #fff">
              <tr>
                <td align="center">
                  <a href="https://veganharita.com/" target="_blank" style="text-decoration: none;">
                  <%= image_tag(attachments['logo.png'].url, alt: 'logo', style:"max-width: 140px") %>
                  </a>
                </td>
              </tr>
              <tr>
                <td align="center" style="padding-bottom:20px; padding-top:20px; width:100%; padding-right:0px; padding-left:0px;">
                  <div style="line-height:10px; width:200px">
                    <% if @product.image.present? %>
                      <%= image_tag rails_public_blob_url(@product.image), alt:"product-image", style: "max-width: 200px; border-radius: 8px; vertical-align: middle" %>
                    <% end %>
                  </div>
                </td>
              </tr>
              <tr>
                <td align="center" style="margin-top: 8px; padding: 10px;">
                  <p style="color: #000e06"><%= t("hello") %> <%= @user.username %></p>
                  <p style="color: #000e06"><%= @product.contributors.first.user.username %> <%= t("added_product").html_safe %></p>
                  <p style="color: #000e06"><%= t("main_text").html_safe %></p>
                </td>
              </tr>
              <tr>
                <td align="center" style="margin-top: 8px; padding: 10px; text-decoration: none;">
                  <p><%= link_to t("view_product"), @url, style:"text-decoration: none; color: #fff; background-color: #01da5a; border-radius: 60px; padding: 10px 18px" %></p>
                </td>
              </tr>
              <tr>
                <td style="height: 60px"></td>
              </tr>
              <tr>
                <td align="center" style="height: 40px; border-bottom: 1px solid #e2e8f0">
                  <a href="https://www.instagram.com/veganharita/" target="_blank"
                    <%= image_tag(attachments['instagram.png'].url, alt:"instagram", title: "Instagram", style:"width: 25px; height: auto; vertical-align: middle; border: 0;") %>>
                  <a href="https://veganharita.com/contact" target="_blank" style="text-decoration: none;">
                    <%= image_tag(attachments['envelope.png'].url, alt:"contact", title: "Contact", style:"width: 25px; border: 0; vertical-align: middle; text-decoration: none") %>
                  </a>
                </td>
              </tr>
              <tr style="height: 40px">
                <td align="center" style="border-top: 1px solid #e2e8f0">
                  <a href="https://veganharita.com/" target="_blank" style="margin: 0; text-decoration: none; color: #000e06; font-size: 14px">veganharita.com</a>
                </td>
              </tr>
          </table>
        </td>
      </tr>
  </table>
<% end %>
