<p><%= t :hello %><%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t :mail_change %><%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t :mail_change %><%= @resource.email %>.</p>
<% end %>
