<p> <%= t :hello %> <%= @resource.email %>!</p>

<p><%= t :password_request %></p>

<p><%= link_to t('changePassword'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t :not_requested %></p>
