<% I18n.with_locale(@locale) do %>
  <table align="center" width="100%" style="margin: 20px 0; font-family: General Sans, sans-serif;" role="presentation">
      <tr>
        <td align="center" style="padding: 20px; margin-top: 20px;">
          <table width="100%" style="border: 1px solid #e2e8f0; border-radius: 6px; text-align: center; background-color: #fff">
              <%= render "mailers/shared/header" %>
              <tr>
                <td align="center" style="margin-top: 8px; padding: 10px;">
                  <p style="color: #000e06"><%= t :hello %> <%= @resource.username %>!</p>
                  <p style="color: #000e06"><%= t :password_request %></p>
                </td>
              </tr>
              <tr>
                <td align="center" style="margin-top: 8px; padding: 10px; text-decoration: none;">
                  <p><%= link_to t('changePassword'), edit_password_url(@resource, reset_password_token: @token), style:"text-decoration: none; color: #fff; background-color: #01da5a; border-radius: 60px; padding: 10px 18px" %></p>
                </td>
              </tr>
              <tr>
                <td align="center" style="margin-top: 8px; padding: 10px;">
                  <p style="color: #000e06"><p><%= t :not_requested %></p></p>
                </td>
              </tr>
              <tr>
                <td style="height: 60px"></td>
              </tr>
              <%= render "mailers/shared/footer" %>
          </table>
        </td>
      </tr>
  </table>
<% end %>
