<%= form_with(model: product, url: product.persisted? ? product_path(product.slug) : products_path, builder: CustomFormBuilder)  do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.file_field :image %>
    <%= form.text_field :name %>
    <%= form.text_field :ingredients_tr %>
    <%= form.text_field :ingredients_en %>
    <%= form.collection_select :brand_id, Brand.order(:name), :id, :name %>
    <%= form.collection_check_boxes :shop_ids, Shop.order(:name), :id, :name %>
    <%= form.collection_select :product_category_id, ProductCategory.order(:id), :id, :name %>
    <%= form.collection_select :product_sub_category_id, ProductSubCategory.order(:id), :id, :name %>
    <%= form.rich_text_area :statement %>
    <%= form.text_field :bar_code %>

    <%= form.submit %>
<% end %>
