<div id="<%= dom_id product %>" class="product">
  <div id="product-image-container">
    <% if product.image.attached? %>
      <%= image_tag cdn_proxy_url(product.image.variant(:big)), loading: "lazy", alt: product.name, class:"product-image" %>
    <% else %>
    <div class="no-photo-wrapper">
      <%= image_tag "default-product-image.jpg", class: "product-image default-image", loading: "lazy" %>
      <p class="no-photo"> <%= t :no_photo %> </p>
    </div>
    <% end %>

  </div>
  <p>
    <strong><%= Product.human_attribute_name(:name) %> :</strong>
    <%= product.name %>
  </p>
  <p>
    <strong><%= Brand.model_name.human %> :</strong>
    <%= product.brand.name %>
  </p>
  <p>
    <strong><%= Product.human_attribute_name(:ingredients) %> :</strong>
    <%= product.ingredients %>
  </p>
  <p>
    <strong> <%= t("updated_at") %> :</strong>
    <%= l product.updated_at, format: :long %>
  </p>
  <p>
    <strong><%= Product.human_attribute_name(:product_category) %> :</strong>
    <%= product.product_category.name %>
  </p>
  <p>
    <strong><%= Shop.model_name.human %> :</strong>
    <%= product.shops.map(&:name).join(", ") %>
  </p>


  <% product.contributors.each do |contributor| %>
    <p>
      <strong><%= Contributor.model_name.human %> :</strong>
      <%= contributor.user.username %>
    </p>
  <% end %>
  <p>
    <strong><%= Product.human_attribute_name(:statement) %> :</strong>
    <%= product.statement %>
  </p>
</div>
