<div id="<%= dom_id product %>" class="product">
  <div class="product-heading-container">
    <h1>
      <%= product.name %>
    </h1>
    <%= link_to "Edit this product", edit_product_path(@product.slug) %> 
  </div>

  <div id="product-image-container">
    <% if product.image.attached? %>
      <%= image_tag cdn_proxy_url(product.image.variant(:big)), loading: "lazy", alt: product.name, class:"product-image" %>
    <% else %>
    <div class="no-photo-wrapper">
      <%= image_tag "default-product-image.jpg", class: "product-image default-image", loading: "lazy" %>
      <p class="no-photo"> <%= t :no_photo %> </p>
    </div>
    <% end %>
  </div>

  <p>
    <strong> <%= t("updated_at") %> </strong>
    <%= l product.updated_at, format: :long %>
  </p>
  <p>
    <span><strong><%= Brand.model_name.human %> :</strong></span>
    <%= product.brand.name %>
  </p>
  <p>
    <span><strong><%= Product.human_attribute_name(:ingredients) %> :</strong></span>
    <%= product.ingredients %>
  </p>
 
  <p>
    <span><strong><%= Shop.model_name.human %> :</strong></span>
    <%= product.shops.map(&:name).join(", ") %>
  </p>

  <p>
    <strong><%= Product.human_attribute_name(:statement) %> :</strong>
    <%= product.statement %>
  </p>

  <% product.contributors.each do |contributor| %>
    <p>
      <strong><%= Contributor.model_name.human %> :</strong>
      <%= contributor.user.username %>
    </p>
  <% end %>
</div>
