<div id="<%= dom_id product %>" class="product">
  <div class="product-heading-container">
    <h1>
      <%= product.name %>
    </h1>

    <p>
    <strong> <%= t("updated_at") %> </strong>
    <%= l product.updated_at, format: :long %>
  </p>
  </div>

  <div class="product-features-container">
    <div id="product-image-container">
      <% if product.image.attached? %>
        <div>
          <%= image_tag cdn_proxy_url(product.image.variant(:big)), loading: "lazy", alt: product.name, class:"product-image" %>
        </div>
      <% else %>
      <div class="no-photo-wrapper">
        <%= image_tag "default-product-image.jpg", class: "product-image default-image", loading: "lazy" %>
        <p class="no-photo"> <%= t :no_photo %> </p>
      </div>
      <% end %>
    </div>

    <ul class="product-details">
      <li class="product-detail">
        <strong><%= Brand.model_name.human %> :</strong> <br>
        <%= product.brand.name %>
      </li>
      <li class="product-detail">
        <strong><%= Product.human_attribute_name(:ingredients) %> :</strong><br>
        <%= product.ingredients %>
      </li>

      <li class="product-detail">
        <strong><%= Shop.model_name.human %> :</strong> <br>
        <%= product.shops.map(&:name).join(", ") %>
      </li>

      
    </ul>
  </div>

  <div class="product-detail statement">
    <strong><%= Product.human_attribute_name(:statement) %> :</strong> <br>
    <%= product.statement %>
  </div>

  <p class="disclaimer-text">* Bu bir reklam değildir. Paylaşılan ürünler sadece bilgilendirme amaçlıdır ve web sitemiz bu ürünlerin tanıtımından hiçbir kazanç sağlamamaktadır</p>


     


  
