<div id="<%= dom_id product %>">
  <div>
    <%= image_tag cdn_proxy_url(product.image.variant(:big)), loading: "lazy", alt: product.name  if product.image.attached? %>
  </div>
  <p>
    <strong><%= Product.human_attribute_name(:name) %> :</strong>
    <%= product.name %>
  </p>
  <p>
    <strong><%= Brand.model_name.human %> :</strong>
    <%= product.brand.name %>
  </p>
  <p>
    <strong><%= Product.human_attribute_name(:ingredients) %> :</strong>
    <%= product.ingredients %>
  </p>
  <p>
    <strong> <%= t("updated_at") %> :</strong>
    <%= l product.updated_at, format: :long %>
  </p>
  <p>
    <strong><%= Product.human_attribute_name(:product_category) %> :</strong>
    <%= product.product_category.name %>
  </p>
  <p>
    <strong><%= Shop.model_name.human %> :</strong>
    <%= product.shops.map(&:name).join(", ") %>
  </p>
  <p>
    <strong><%= Product.human_attribute_name(:statement) %> :</strong>
    <%= product.statement %>
  </p>
</div>
