<main>
  <h1><%= Product.model_name.human(count: :many) %> </h1>
  <div style="display: flex; width: 100%; align-items: center; justify-content: center;">
    <%= render "search_form" %>
  </div>
  <div style="display: flex; align-items: center; flex-direction: row; width: 100%;">
    <div style="display: flex; flex-direction: column; width: 30%;">
      <%= render "filter_form" %>
    </div>
    <div>
      <%= link_to "New product", new_product_path %>
      <%= turbo_frame_tag "product_results", data: { turbo_action: "advance" } do %>
        <div id="products">
          <% @products.each do |product| %>
            <%= render product %>
            <p>
              <%= link_to "Show this product", product_path(product.slug), data: { turbo_frame: "_top" } %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</main>