<main>
  <h1><%= Product.model_name.human(count: :many) %> </h1>
  <div style="display: flex; width: 100%; align-items: center; justify-content: center;">
    <%= render "search_form" %>
    <%= link_to 'Scan Barcode', barcode_scanner_products_path %>
  </div>
  <%= turbo_frame_tag "form", data: { turbo_action: "advance" } do %>
    <div style="display: flex; align-items: center; flex-direction: row; width: 100%;">
      <div style="display: flex; flex-direction: column; width: 30%;">
        <%= render "filter_form" %>
      </div>
      <div>
        <%= link_to "New product", new_product_path, data: { turbo_frame: "_top" } %>
        <%= render @products %>
        <!--
         Pagination is not visible, because nav is directly styled
         -->
        <%= paginate @products %>
      </div>
    </div>
  <% end %>
</main>
