<%= content_for :title, "#{Product.model_name.human(count: :many)} - Vegan Harita" %>
<%= content_for :description, t(".description") %>

<main id="product-index">
  <div>
    <div id="search-container">
      <%= render "search_form" %>
      <%= link_to barcode_scanner_products_path, class:"mobile", id:"scanner" do %>
        <%= inline_svg_tag 'barcode-scanner.svg' %>
      <% end %>
    </div>

    <%# new product-link %>
    <div class="new-link-wrapper">
      <%= link_to new_product_path do %>
        <%= inline_svg_tag "add-place.svg", class: "nav-icon", id: "add-place-icon" %>
        <span><%= t :add %></span>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag "filter-form",  data: { turbo_action: "advance" } do %>
    <%= render "filter_form" %>
    <div id="products">
      <%= render @products %>
    </div>
    <%= paginate @products %>
  <% end %>
</main>
