<%= form_with(model: [@place, review], url: review.persisted? ? place_review_path(@place, review) : place_reviews_path(@place), method: review.persisted? ? :patch : :post, class: "add-review") do |form| %>
  <div class="review-form-group">
    <%= form.label t('your_score'), style: "display: block" %>
    <div class="rating" id="rating-section">
      <%= form.collection_radio_buttons(:rating, [[5],[4],[3],[2],[1]], :first, :last) do |star| %>
        <%= star.radio_button %>
        <%= star.label(class: "star-numbers") %>
      <% end %>
    </div>
  </div>

  <div class="review-form-group">
    <%= form.label t('your_review'), style: "display: block" %>
    <%= form.text_area :content, placeholder: "Yorumunuz", required: true %>
  </div>

  <div class="review-form-group">
    <%= form.label t('owner_feedback'), style: "display: block" %>
    <%= form.text_area :feedback, placeholder: "Bence şu yemeğiniz biraz tuzlu..." %>
  </div>


  <div class="review-form-group">
    <%= form.label t('photos'), style: "display: block" %>
    <%= form.file_field :images, multiple: true, accept: "image/*" %>
  </div>

  <div class="form-buttons">
    <%= form.submit t('submit'), class:"primary-green-btn", data: { turbo_confirm: t('sure') }  %>
    <a href="#" class="turbo-cancel-btn"> <%= t :nevermind %> </a>
  </div>
<% end %>
