<%= form_with(model: [@place, review], url: place_reviews_path) do |form| %>
  <div>
    <%= form.label "Puan覺n覺z", style: "display: block" %>
    <div class="rating">
      <%= form.collection_radio_buttons(:rating, [[5],[4],[3],[2],[1]], :first, :last) do |star| %>
        <%= star.radio_button %>
        <%= star.label(class: "star-numbers") %>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.label "Deerlendirmeniz", style: "display: block" %>
    <%= form.text_area :content, placeholder: "Yorumunuz" %>
  </div>

<%# # Parantez i癟indeki k覺s覺m tooltip olsun %>
  <div>
        <%= form.label "Mekan Sahibine Geribildiriminiz (Dier kullan覺c覺lar taraf覺ndan g繹r羹nt羹lenmez)", style: "display: block" %>
        <%= form.text_area :feedback, placeholder: "Bence u yemeiniz biraz lu" %>
  <div>

    <%= form.label "Fotoraflar", style: "display: block" %>
    <%= form.file_field :images, multiple: true, accept: "image/*" %>
  </div>

  <div class= "add-new-place-form-group">
    <%= form.submit "G繹nder" %>
  </div>
<% end %>
