<%= form_with(model: [:admin, post_topic]) do |form| %>
  <% if post_topic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post_topic.errors.count, "error") %> prohibited this post_topic from being saved:</h2>

      <ul>
        <% post_topic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
