<%= form_with(model: place, data: {controller: "place", action: "google-maps-callback@window->place#initializeMap"}, html: {id: "add-new-place-form"}) do |form| %>
  <% if place.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(place.errors.count, "hata") %>
        <%= t :error_reason %>
      </h2>
      <ul>
        <% place.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="add-new-place-form-group" id="address-group">
    <%= form.label t('address_required'), style: "display: block" %>
    <%= form.text_field :address,  data: {place_target: "field", action: "keydown->place#preventSubmit"}, placeholder: "X Vegan Cafe, Kadıköy...", autofocus: true, required: true %>
    <div id="form-map"  data-place-target="map"></div>
  </div>

  <%= form.hidden_field :latitude, data: {place_target: "latitude"} %>
  <%= form.hidden_field :longitude, data: {place_target: "longitude"}  %>
  <%= form.hidden_field :place_id, data: {place_target: "place_id"}%>

  <div class="sub-group">
    <div class= "add-new-place-form-group">
      <%= form.label t('name_required'), style: "display: block" %>
      <%= form.text_field :name, placeholder: "X Vegan Cafe", required: true, maxlength: 80, size: nil %>
    </div>

  <div class= "select-wrapper add-new-place-form-group" data-controller="utils" data-utils-assets-value="<%= [t('files_selected'), t('select_file')].to_json %>">
      <%= form.label t('image'), style: "display: block" %>
      <span id="file-upload-btn" data-utils-target="uploadBtn"><%= t(:select_file) %></span>
      <%= form.file_field :images, multiple: true, accept: "image/*", data: { action: "change->utils#uploadFiles"} %>
    </div>
  </div>

  <div class= "add-new-place-form-group">
    <%= form.label t('place_vegan'), style: "display: block" %>
    <%= form.select :vegan, options_for_select([[ t('has_option'), false], [ t('vegan'), true]]), {} %>
  </div>

  <div class="add-new-place-form-group tags-form-container " >
    <%= form.label t('select_tags'), style: "display: block"%>
    <div class="tags-form">
    <% Tag.all.each do |tag| %>
      <span class="checkbox-inline tag">
        <%= form.check_box :tag_ids, { multiple: true, class: "tag-select",  checked: false }, tag.id, nil %>
        <%= form.label :tag_ids, tag.name, value: tag.id, class: "tag-names" %>
      </span>
    <% end %>
      </div>
  </div>

  <div class="sub-group">
    <div class= "add-new-place-form-group social-field">
      <%= form.label t('instagram'), style: "display: block" %>
      <%= form.text_field :instagram_handle, id:"instagram-input", class: "platform-input", placeholder: "veganharita", maxlength: 30 %>
      <span class="platform"><%= t :instagram_link %> </span>
    </div>

    <div class= "add-new-place-form-group social-field">
      <%= form.label t('facebook'), style: "display: block" %>
      <%= form.text_field :facebook_handle, id:"facebook-input", class: "platform-input", placeholder: "veganharita", maxlength: 50 %>
      <span class="platform"><%= t :facebook_link %> </span>
    </div>
  </div>

  <div class="sub-group">
    <div class= "add-new-place-form-group social-field">
      <%= form.label t('x'), style: "display: block" %>
      <%= form.text_field :x_handle, id:"x-input", class: "platform-input", placeholder: "veganharita", maxlength: 50 %>
      <span class="platform", id="x-label"> <%= t :x_link %> </span>
    </div>

    <div class= "add-new-place-form-group">
      <%= form.label t('website_link'), style: "display: block" %>
      <%= form.text_field :web_url, placeholder: "veganharita.com" %>
    </div>
  </div>

  <div class="sub-group">
    <div class= "add-new-place-form-group">
      <%= form.label t('mail'), style: "display: block" %>
      <%= form.text_field :email, placeholder: "mail@mail.com" %>
    </div>

    <div class= "add-new-place-form-group">
      <%= form.label t('phone'), style: "display: block" %>
      <%= form.text_field :phone, pattern: "[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}",  placeholder: "5*********" %>
    </div>
  </div>

  <div class= "add-new-place-form-group", id="submit-place" >
    <%= form.submit t('submit') %>
  </div>
<% end %>

