<%= form_with(model: place, data: {controller: "place"}) do |form| %>
  <% if place.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% place.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.number_field :latitude, step: "any" %>
  </div>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.number_field :longitude, step: "any" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
