<div id="<%= dom_id place %>">
  <div class="place-header">
    <%= link_to :back, class: "arrow" do %>
      <%= image_tag "back-icon.svg" %>
    <% end %>
    <p class="place-name"><%= place.name %></p>
  </div>

  <div class="social-links">
    <%= image_tag "instagram.svg", class: "social" %>
    <%= image_tag "facebook.svg", class: "social" %>
    <%= image_tag "twitter.svg", class: "social" %>
    <%= image_tag "web.svg", class: "social" %>
    <%= image_tag "e-mail.svg", class: "social" %>
  </div>

  <div data-controller="slider" class="slider">
    <div class="slider-container">
      <% place.images.each do |image| %>
        <%= image_tag image, class: "slider-image", data: { target: "slider.image" } %>
      <% end %>
    </div>
    <div class="slide-buttons">
      <span>
        <%= image_tag "previous.svg",
        class: "slide-button",
        data: {
          action: "click->slider#previous"
        } %>
      </span>
      <span>
        <%= image_tag "next.svg",
        class: "slide-button",
        data: {
          action: "click->slider#next"
        } %>
      </span>
    </div>
    <div class="tags">
    <span>Dünya Mutfağı</span>
    <span>Asya Mutfağı</span>
    <span>Fransız Mutfağı</span>
    <span>İtalyan Mutfağı</span>
    </div>
  </div>

</div>
