<div id="<%= dom_id place %>">
  <div class="place-header">
    <%= link_to :back, class: "arrow" do %>
    <%= image_tag "back-icon.svg" %>
    <% end %>
  <p class="name"><%= place.name %></p>
  </div>

  <div class="social-links">
    <%# instagram icon %>
    <%= image_tag "instagram.svg", class: "social" %>
    <%= image_tag "facebook.svg", class: "social" %>
    <%= image_tag "twitter.svg", class: "social" %>
    <%= image_tag "web.svg", class: "social" %>
    <%= image_tag "e-mail.svg", class: "social" %>
  </div>

  <div data-controller="slider">
    <div class="slider__container">
      <% place.images.each do |image| %>
        <%= image_tag image, class: "slider__image", data: { target: "slider.image" } %>
      <% end %>
    </div>
    <button data-action="click->slider#previous">Previous</button>
    <button data-action="click->slider#next">Next</button>
  </div>

  
</div>
