<div id="<%= dom_id place %>">
  <div class="place-header">
    <%= link_to :back, class: "arrow" do %>
    <%= image_tag "back-icon.svg" %>
    <% end %>
  <p><%= place.name %></p>
  </div>

  <% if place.images.attached? %>
    <% place.images.each do |image| %>
      <%= image_tag image, class: "place-image" %>
    <% end %>
  <% end %>

  <div data-controller="slider">
    <div class="slider__container">
      <% place.images.each do |image| %>
        <%= image_tag image, class: "slider__image", data: { target: "slider.image" } %>
      <% end %>
    </div>
    <button data-action="click->slider#previous">Previous</button>
    <button data-action="click->slider#next">Next</button>
  </div>

  
</div>
