<div id="<%= dom_id place %>" class="place">
  <div class="page-heading-container bg-dark-green">
    <%= link_to :back, class: "arrow" do %>
      <%= image_tag "back-icon.svg" %>
    <% end %>
    <p class="page-title medium-font bold yellow"><%= place.name %></p>
  </div>

  <div class="social-links bg-yellow">
    <% social_links = {
      "instagram" => place.instagram_url,
      "facebook" => place.facebook_url,
      "twitter" => place.twitter_url,
      "web" => place.web_url,
      "email" => place.email
    } %>

    <% social_links.each do |key, value| %>
      <% if value.present? %>
        <% if key == "web" %>
          <%= link_to "https://#{value}", target: "_blank" do %>
            <%= image_tag "#{key}.svg", class: "social" %>
          <% end %>
        <% elsif key == "email" %>
          <%= link_to "#{value}", href: "mailto:#{value}" do %>
            <%= image_tag "#{key}.svg", class: "social" %>
          <% end %>
        <% else %>
          <%= link_to "#{value}", target: "_blank" do %>
            <%= image_tag "#{key}.svg", class: "social" %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "#{value}" do %>
          <%= image_tag "#{key}.svg", class: "social disabled" %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div data-controller="slider" class="slider bg-dark-green">
    <div class="slider-container">
      <% if place.images.attached? %>
        <% place.images.each do |image| %>
          <%= image_tag image, class: "slider-image", data: { slider_target: "image" } %>
        <% end %>
        <div class="slide-buttons">
          <span data-action="click->slider#previous"></span>
          <span data-action="click->slider#next"></span>
        </div>
        <div class="slider-number" data-slider-target="number">
        </div>
      <% else %>
        <%= image_tag "default-place-image.jpg", class: "slider-image", data: { slider_target: "image" } %>
      <% end %>
      </div>
    </div>


  <div class="place-details bg-yellow">
  <% if place.vegan? %>
    <div class="detail-group">
      <%= image_tag "vegan-place.svg", class: "detail-icon", id: "vegan-icon" %>
      <span class="detail dark-green">Vegan</span>
    </div>
  <% else %>
    <div class="detail-group">
      <%= image_tag "vegan-friendly-place.svg", class: "detail-icon", id: "vegan-icon" %>
      <span class="detail dark-green">Vegan Seçenekli</span>
    </div>
  <% end %>
    <div class="detail-group">
      <%= image_tag "open.svg", class: "detail-icon", id: "open-icon" %>
      <span class="detail dark-green">Açık</span>
    </div>
    <%= link_to "https://www.google.com/maps/dir/?api=1&destination=#{place.latitude},#{place.longitude}", target: "_blank", class: "detail-link" do %>
      <div class="detail-group">
        <%= image_tag "direction.svg", class: "detail-icon", id: "direction-icon" %>
        <span class="detail">Yol Tarifi</span>
      </div>
    <% end %>
    <% if place.phone.present? %>
      <%= link_to "tel:#{place.phone}", class: "detail-link" do %>
        <div class="detail-group">
          <%= image_tag "phone.svg", class: "detail-icon", id: "phone-icon" %>
          <span class="detail">Ara</span>
        </div>
      <% end %>
    <% else %>
      <%= link_to "tel:#{place.phone}" do %>
        <%= image_tag "phone.svg", class: "detail-icon disabled", id: "phone-icon" %>
      <% end %>
    <% end %>
  </div>

  <div class="tags bg-dark-blue">
  <span class="yellow">Dünya Mutfağı</span>
  <span class="yellow">Asya Mutfağı</span>
  <span class="yellow">Fransız Mutfağı</span>
  <span class="yellow">İtalyan Mutfağı</span>
  </div>

  <div id="menu" class="bg-dark-green">
    <div id="menu-header" class="green">
        <h1 class="medium-font semi-bold">MENÜ</h1>
        <%= link_to new_place_menu_path(@place), id: "add-new-product", class: "green" do %>
          <%= image_tag "add-icon.svg" %>
          <span>Ürün Ekle</span>
        <% end %>
      </div>

    <h2 class="category medium-font semi-bold green">Yemekler</h2>

    <%= render @place.menus.where(product_category: "Yemek") %>

    <h2 class="category medium-font semi-bold green">İçecekler</h2>

    <%= render @place.menus.where(product_category: "İçecek") %>

    <h2 class="category medium-font semi-bold green">Tatlılar</h2>

    <%= render @place.menus.where(product_category: "Tatlı") %>
  </div>

</div>
