<main id="<%= dom_id place %>" class="place" data-controller="edit">
  <div class="place-heading-container">
    <div class="place-heading-left">
      <h1 class="place-heading-title"><%= place.name %>
      <%= turbo_frame_tag "place-name" do %>
        <%= link_to new_place_edit_path(place), class: "edit-button", hidden: true do  %>
            <span class="edit-icon-container">
              <%= image_tag "edit.svg", class: "edit-icon" %>
            </span>
          <% end %>
      <% end %>
      </h1>

      <div class="review-score-container">
        <span class="review-score">
          <%= image_tag "review-star.svg" %>
          <%= average_rating(@reviews)%>
        </span>
        <% if @reviews.present? %>
          <a class="review-count" href="#reviews"><%= @reviews.size %> Değerlendirme</a>
        <% end %>
      </div>
    </div>
    <div class="place-heading-right">
      <% if user_signed_in? %>
        <button id="place-edit-toggle-button" data-action="click->edit#toggle">
          <span class="edit-icon-container">
            <%=image_tag "edit.svg", class: "edit-icon" %>
          </span>
          <span class="place-toggle-text" data-edit-target="toggleContent">Düzenleme Öner</span>
        </button>
      <% end %>
    </div>
  </div>

  <section class="place-features">
    <div data-controller="slider" class="slider">
      <%= turbo_frame_tag "place-images" do %>
        <div class="slider-container">
          <%= link_to new_place_edit_path(place), class: "edit-button ", hidden: true do %>
            <span class="edit-icon-container">
              <%= image_tag "edit.svg", class: "edit-icon" %>
            </span>
        <% end %>
        <% if place.images.attached? %>
          <% place.images.each do |image| %>
            <%= image_tag image, class: "slider-image", data: { slider_target: "image" } %>
          <% end %>
          <div class="slide-buttons">
            <span data-action="click->slider#previous"></span>
            <span data-action="click->slider#next"></span>
          </div>
          <div class="slider-number" data-slider-target="number">
          </div>
        <% else %>
          <%= image_tag "default-place-image.jpg", class: "slider-image", data: { slider_target: "image" } %>
        <% end %>
        </div>
      <% end %>
    </div>


    <div class="place-details">
      <div class="place-details-action-wrapper">
        <div class="place-detail">
            <div class="place-action-wrapper">
              <% if place.vegan? %>
                <div class="detail-group">
                  <%= image_tag "vegan-place.svg", class: "detail-icon", id: "vegan-icon" %>
                  <span class="detail ">Vegan</span>
                </div>
              <% else %>
                <div class="detail-group">
                  <%= image_tag "vegan-friendly-place.svg", class: "detail-icon", id: "vegan-icon" %>
                  <span class="detail">Vegan Seçenekli</span>
                </div>
              <% end %>

            </div>

                          <%= turbo_frame_tag "place-vegan" do %>
                  <%= link_to new_place_edit_path(place), class: "edit-button ", hidden: true do %>
                <span class="edit-icon-container">
                  <%= image_tag "edit.svg", class: "edit-icon" %>
                </span>
              <% end %>
          <% end %>
        </div>


        <div class="place-detail">
          <div class="place-action-wrapper">
            <div class="detail-group">
              <%= image_tag "open.svg", class: "detail-icon", id: "open-icon" %>
              <span class="detail">Şu anda açık</span>
            </div>
          </div>
        </div>

        <div class="place-detail">
          <%= turbo_frame_tag "place-location" do %>
            <div class="place-action-wrapper">
              <div class="detail-group">
                <%= link_to "https://www.google.com/maps/dir/?api=1&destination=#{place.latitude},#{place.longitude}", target: "_blank", class: "detail-group" do %>
                  <%= image_tag "direction.svg", class: "detail-icon"%>
                  <span class="detail">Yol Tarifi</span>
                <% end %>
              </div>

              <%= link_to new_place_edit_path(place), class: "edit-button", hidden: true do  %>
                <span class="edit-icon-container">
                  <%= image_tag "edit.svg", class: "edit-icon" %>
                </span>
              <% end %>
            </div>
              <% end %>
        </div>


        <div class="place-detail">
          <%= turbo_frame_tag "place-phone" do %>
            <div class="place-action-wrapper">
              <% if place.phone.present? %>
                <div class="detail-group">
                  <%= link_to "tel:#{place.phone}", class: "detail-group" do %>
                    <%= image_tag "phone.svg", class: "detail-icon" %>
                    <span class="detail">Ara</span>
                  <% end %>
                </div>
              <% else %>
                <%= link_to "#" do %>
                  <%= image_tag "phone.svg", class: "detail-icon disabled", id: "phone-icon" %>
                <% end %>
              <% end %>
              <%= link_to new_place_edit_path(place), class: "edit-button", hidden: true do  %>
                <span class="edit-icon-container">
                  <%= image_tag "edit.svg", class: "edit-icon" %>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <%= turbo_frame_tag "place-tags" do %>
        <div class="place-tags">
          <%= link_to new_place_edit_path(place), class: "edit-button ", hidden: true do  %>
            <span class="edit-icon-container">
              <%= image_tag "edit.svg", class: "edit-icon" %>
            </span>
          <% end %>
          <% if place.tags.present? %>
            <% place.tags.each do |tag| %>
              <span class="place-tag" ><%= tag.name %></span>
            <% end %>
          <% else %>
            <span>Etiket Yok</span>
          <% end %>
        </div>
      <% end %>

      <div class="social-links">
    <% social_links = {
      "instagram" => place.instagram_url,
      "facebook" => place.facebook_url,
      "twitter" => place.twitter_url,
      "web" => place.web_url,
      "email" => place.email
    } %>

    <% social_links.each do |key, value| %>
      <% if value.present? %>
        <% if key == "web" %>
          <%= turbo_frame_tag "place-web",  class: "relative" do %>
            <%= link_to "https://#{value}", target: "_blank", class: "social-link" do %>
              <%= image_tag "#{key}.svg", class: "social" %>
            <span class="visible-on-desktop"><%= value %></span>
            <% end %>
            <%= link_to new_place_edit_path(place), class: "edit-button ", hidden: true do  %>
              <span class="edit-icon-container">
                <%= image_tag "edit.svg", class: "edit-icon" %>
              </span>
            <% end %>
          <% end %>
        <% elsif key == "email" %>
          <%= turbo_frame_tag "place-email", class: "relative" do %>
            <%= link_to "#{value}", href: "mailto:#{value}", class: "social-link" do %>
              <%= image_tag "#{key}.svg", class: "social" %>
            <span class="visible-on-desktop"><%= value %></span>
            <% end %>
            <%= link_to new_place_edit_path(place), class: "edit-button ", hidden: true do  %>
              <span class="edit-icon-container">
                <%= image_tag "edit.svg", class: "edit-icon" %>
              </span>
            <% end %>
          <% end %>
        <% else %>
          <%= turbo_frame_tag "place-#{key}", class: "relative" do %>
          <%= link_to "#{value}", target: "_blank", class:"social-link" do %>
            <%= image_tag "#{key}.svg", class: "social" %>
            <span class="visible-on-desktop"><%= value %></span>
          <% end %>
          <%= link_to new_place_edit_path(place), class: "edit-button ", hidden: true do  %>
              <span class="edit-icon-container">
                <%= image_tag "edit.svg", class: "edit-icon" %>
              </span>
          <% end %>
          <% end %>
        <% end %>
      <% else %>
        <%= turbo_frame_tag "place-#{key}", class: "relative" do %>
          <%= link_to "#{value}" do %>
            <%= image_tag "#{key}.svg", class: "social disabled" %>
          <% end %>
          <%= link_to new_place_edit_path(place), class: "edit-button ", hidden: true do  %>
              <span class="edit-icon-container">
                <%= image_tag "edit.svg", class: "edit-icon" %>
              </span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
    </div>
  </section>

  <hr id="separator">


  <section id="menu">
    <div id="menu-header">
      <h2>MENÜ</h2>
        <%= link_to new_place_menu_path(@place), data: { turbo_frame: "new_menu"}, id: "add-new-product", class: "green", hidden: true do %>
          <%= image_tag "add-icon.svg" %>
          <span>Ürün Ekle</span>
        <% end %>
    </div>
      <%= turbo_frame_tag "new_menu" %>
      <% if @place.menus.present? %>
        <% if @place.menus.food.present? %>
          <h3 class="menu-category-heading">
            <%= image_tag "menu-category-food.svg"%>
            Yemekler</h3>
          <%= render @place.menus.food, locals: {place: @place} %>
        <% end %>

        <% if @place.menus.dessert.present? %>
          <h3 class="menu-category-heading">
            <%= image_tag "menu-category-dessert.svg"%>
            Tatlılar</h3>
          <%= render @place.menus.dessert, locals: {place: @place} %>
        <% end %>

        <% if @place.menus.drink.present? %>
          <h3 class="menu-category-heading">
            <%= image_tag "menu-category-drink.svg"%>
            İçecekler</h3>
          <%= render @place.menus.drink, locals: {place: @place} %>
        <% end %>


    <%else%>
    <p> Bu mekanın menüsü henüz eklenmemiş gibi görünüyor. :(</p>
    <%end%>
  </section>

  <hr id="separator">


  <section id="reviews">
    <div id="reviews-header">
      <h2>Müşteriler bu mekanı nasıl değerlendiriyor?</h2>
    </div>
    <div class="reviews-wrapper">
      <% @reviews.approved.each do |review| %>
        <%= render review%>
      <% end %>

      <% if user_signed_in? %>
        <%= turbo_frame_tag "new_review" do %>
          <%= link_to  new_place_review_path(@place), class: "add-review-btn" do %>
          <%= image_tag "add-review.svg"%>
          Değerlendirme yaz
          <% end %>
        <% end %>
      <% end %>
  </div>
</section>
</main>

