<main id="<%= dom_id place %>" class="place" data-controller="edit" data-edit-button-value='<%= [t("views.places.show.suggest_edit"), t("views.places.show.cancel")].to_json %>'>
  <div class="place-heading-container">
    <div class="place-heading-left">
      <h1 class="place-heading-title"><%= place.name %>
        <%= turbo_frame_tag :name, class:"edit-wrapper", hidden: true do %>
          <%= link_to edit_place_path(place, attribute: :name), class: "edit-button" do  %>
            <span class="edit-icon-container">
              <%= image_tag "edit.svg", class: "edit-icon" %>
            </span>
          <% end %>
        <% end %>
      </h1>
      <div class="place-review-score-container">
        <span class="review-score">
          <%= image_tag "review-star.svg" %>
          <%= average_rating(@reviews)%>
        </span>
        <% if @reviews.present? %>
          <a class="review-size" href="#reviews"><%= @reviews.size %> <%= t :review %> </a>
        <% end %>
      </div>
    </div>
    <div class="place-heading-right">
      <% if user_signed_in? %>
        <button id="place-edit-toggle-button" data-action="click->edit#toggle">
          <span class="edit-icon-container">
            <%=image_tag "edit.svg", class: "edit-icon" %>
          </span>
          <span class="place-toggle-text" data-edit-target="toggleContent"> </span>
        </button>
      <% end %>
    </div>
  </div>
  <section class="place-features-container">
    <div data-controller="slider" class="slider">
      <div class="slider-container">
        <% if place.images.attached? %>
          <% place.images.each do |image| %>
            <%= image_tag image, class: "slider-image", data: { slider_target: "image" } %>
          <% end %>
          <div class="slide-buttons">
            <span data-action="click->slider#previous"></span>
            <span data-action="click->slider#next"></span>
          </div>
          <div class="slider-number" data-slider-target="number">
          </div>
        <% else %>
          <%= image_tag "default-place-image.jpg", class: "slider-image", data: { slider_target: "image" } %>
        <% end %>
      </div>
      <%= turbo_frame_tag :images, class: "edit-wrapper", hidden: true do %>
        <%= link_to edit_place_path(place, attribute: :images), class: "edit-button " do %>
          <span class="edit-icon-container">
            <%= image_tag "edit.svg", class: "edit-icon" %>
          </span>
        <% end %>
      <% end %>
    </div>
    <div class="place-details">
      <div class="place-details-primary-wrapper">
        <div class="place-detail">
          <% if place.vegan? %>
            <div class="detail-group">
              <%= image_tag "vegan-place.svg", class: "detail-icon", id: "vegan-icon" %>
              <span class="detail "> <%= t :vegan %> </span>
            </div>
          <% else %>
            <div class="detail-group">
              <%= image_tag "vegan-friendly-place.svg", class: "detail-icon", id: "vegan-icon" %>
              <span class="detail"> <%= t :has_option %> </span>
            </div>
          <% end %>
          <%= turbo_frame_tag :vegan, class: "edit-wrapper", hidden: true do %>
            <%= link_to edit_place_path(place, attribute: :vegan), class: "edit-button" do %>
              <span class="edit-icon-container">
                <%= image_tag "edit.svg", class: "edit-icon" %>
              </span>
            <% end %>
          <% end %>
        </div>
        <div class="place-detail">
          <div class="detail-group" data-controller="place-status" data-place-status-place-id-value="<%= place.place_id %>">
            <div class="dynamic-icon-wrapper">
              <%= image_tag "status.svg", class: "detail-icon", data: { place_status_target: "icon" } %>
              <span class="detail dynamic-status" data-place-status-target="statusOpen" hidden><%= t("open").downcase %> </span>
              <span class="detail dynamic-status" data-place-status-target="statusClose" hidden><%= t("closed").downcase %></span>
            </div>
            <span class="detail" data-place-status-target="statusOpen" hidden><%= t("open_right_now") %> </span>
            <span class="detail" data-place-status-target="statusClose" hidden><%= t("closed_right_now") %></span>
          </div>
        </div>
        <div class="place-detail">
          <div class="detail-group">
            <%= link_to "https://www.google.com/maps/dir/?api=1&destination=#{place.latitude},#{place.longitude}", target: "_blank", class: "detail-group" do %>
              <%= image_tag "direction.svg", class: "detail-icon"%>
              <span class="detail"> <%= t :directions %> </span>
            <% end %>
          </div>
          <%= turbo_frame_tag :location , class: "edit-wrapper", hidden: true do %>
            <%= link_to edit_place_path(place, attribute: :location), class: "edit-button" do  %>
              <span class="edit-icon-container">
                <%= image_tag "edit.svg", class: "edit-icon" %>
              </span>
            <% end %>
          <% end %>
        </div>
        <div class="place-detail">
          <% if place.phone.present? %>
            <div class="detail-group">
              <%= link_to "tel:#{place.phone}", class: "detail-group" do %>
                <%= image_tag "phone.svg", class: "detail-icon" %>
                <span class="detail"> <%= t :call %> </span>
              <% end %>
            </div>
          <% else %>
            <%= link_to "#" do %>
              <%= image_tag "phone.svg", class: "detail-icon disabled", id: "phone-icon" %>
            <% end %>
          <% end %>
          <%= turbo_frame_tag :phone, class: "edit-wrapper", hidden: true do %>
            <%= link_to edit_place_path(place, attribute: :phone), class: "edit-button" do  %>
              <span class="edit-icon-container">
                <%= image_tag "edit.svg", class: "edit-icon" %>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="place-tags">
        <%= turbo_frame_tag :tags, class: "edit-wrapper", hidden: true do %>
          <%= link_to edit_place_path(place, attribute: :tags), class: "edit-button " do  %>
            <span class="edit-icon-container">
              <%= image_tag "edit.svg", class: "edit-icon" %>
            </span>
          <% end %>
        <% end %>
        <% if place.tags.present? %>
          <% place.tags.each do |tag| %>
            <span class="place-tag" ><%= tag.name %></span>
          <% end %>
        <% else %>
          <span> <%= t :no_tag %> </span>
        <% end %>
      </div>
      <div class="social-links">
        <% social_links = {
    "instagram" => place.instagram_handle,
    "facebook" => place.facebook_handle,
    "x" => place.x_handle,
    "web" => place.web_url,
    "email" => place.email
  } %>
        <% social_links.each do |key, value| %>
          <% if value.present? %>
            <div class="relative">
              <%= link_to social_link_url(key, value), target: "_blank", class: "social-link" do %>
                <%= image_tag "#{key}.svg", class: "social" %>
                <span class="visible-on-desktop"><%= value %></span>
              <% end %>
              <%= turbo_frame_tag key, class: "edit-wrapper", hidden: true do %>
                <%= link_to edit_place_path(place, attribute: key), class: "edit-button " do  %>
                  <span class="edit-icon-container">
                    <%= image_tag "edit.svg", class: "edit-icon" %>
                  </span>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <div class="relative">
              <%= link_to "#{value}" do %>
                <%= image_tag "#{key}.svg", class: "social disabled" %>
              <% end %>
              <%= turbo_frame_tag key, class: "edit-wrapper", hidden: true do %>
                <%= link_to edit_place_path(place, attribute: key), class: "edit-button " do  %>
                  <span class="edit-icon-container">
                    <%= image_tag "edit.svg", class: "edit-icon" %>
                  </span>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
  <hr class="separator">
  <section id="menu">
    <div id="menu-header">
      <h2> <%= t :menu %> </h2>
      <%= link_to new_place_menu_path(@place), data: { turbo_frame: "new_menu"}, id: "add-new-product", class: "edit-wrapper", hidden: true do %> <%= t :add_product %> <% end %>
    </div>
    <%= turbo_frame_tag "new_menu" %>
    <% if @place.menus.present? %>
      <% if @place.menus.food.present? %>
        <h3 class="menu-category-heading">
          <%= image_tag "menu-category-food.svg"%>
          <%= t :meals %>
        </h3>
        <%= render @place.menus.food, locals: {place: @place} %>
      <% end %>
      <% if @place.menus.dessert.present? %>
        <h3 class="menu-category-heading">
          <%= image_tag "menu-category-dessert.svg"%>
          <%= t :desserts %>
        </h3>
        <%= render @place.menus.dessert, locals: {place: @place} %>
      <% end %>
      <% if @place.menus.drink.present? %>
        <h3 class="menu-category-heading">
          <%= image_tag "menu-category-drink.svg"%>
          <%= t :drinks %>
        </h3>
        <%= render @place.menus.drink, locals: {place: @place} %>
      <% end %>
    <%else%>
      <p> <%= t :no_menu %> </p>
    <%end%>
  </section>
  <hr class="separator">
  <section id="reviews">
    <div id="reviews-header">
      <h2> <%= t :customers_review %> </h2>
    </div>
    <div class="reviews-wrapper">
      <% @reviews.approved.each do |review| %>
        <%= render review%>
      <% end %>
      <% if user_signed_in? %>
        <%= turbo_frame_tag "new_review" do %>
          <%= link_to  new_place_review_path(@place), class: "add-review-btn" do %>
            <%= image_tag "add-review.svg"%>
            <%= t :add_review %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </section>
  <hr class="separator">
  <section id="contributors">
    <div id="contributors-header">
      <h2> <%= t("views.places.show.contributors") %> </h2>
    </div>
    <div class="contributors-wrapper">
      <% @contributors.each do |contributor| %>
        <div class="contributor">
          <% if contributor.avatar.attached? %>
            <%= image_tag contributor.avatar.variant(resize_to_limit: [50,50]), class:"contributor-avatar", loading: "lazy" %>
          <% else %>
            <%= image_tag "default-place-image.jpg", class:"contributor-avatar", loading: "lazy" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</main>
