<% location_predictions&.each do |location| %>
  <div class="search-result">
    <%= link_to "#", class:"result-link",
                data: {
                  action: "click->map#panToLocation",
                  lat: location.latitude,
                  lon: location.longitude
                } do %>
      <div>
        <%= inline_svg_tag "location-icon.svg", class: "result-icon" %>
        <span class="search-location"><%= highlight(location.formatted_address, params[:name_search]) %></span>
      </div>
    <% end %>
  </div>
<% end %>
<% places&.each do |place| %>
  <div class="search-result">
    <%= link_to place_path(place.slug), class:"result-link" do %>
      <div>
        <%= inline_svg_tag "claim.svg", class: "result-icon" %>
        <%= highlight(place.name, params[:name_search]) %>
      </div>
      <span class="search-address"><%= place.address %></span>
    <% end %>
  </div>
<% end %>
