<% location_predictions&.each do |location| %>
  <div class="search-results-link-container">
    <%= link_to "#", class:"search-results-link",
                data: {
                  action: "click->map#panToLocation",
                  lat: location.latitude,
                  lon: location.longitude
                } do %>
      <%= image_tag "location-icon.svg", class: "result-icon" %>
      <%= highlight(location.formatted_address, params[:name_search]) %>
    <% end %>
  </div>
<% end %>
<% places&.each do |place| %>
  <div class="search-results-link-container">
    <%= link_to place_path(place.slug), class:"search-results-link" do %>
      <%= image_tag "claim.svg", class: "result-icon" %>
      <%= highlight(place.name, params[:name_search]) %>
      <br>
      <span class="search-address"><%= place.address %></span>
    <% end %>
  </div>
<% end %>
