<%= turbo_frame_tag params[:attribute] do %>
<%= form_with(model: @change_log, url: place_path(@place), method: :patch, class: "modalize",
            data: {
              controller: params[:attribute] == "location" ? "form place" : "form",
              action: params[:attribute] == "location" ? "turbo:submit-end->form#submitEnd google-maps-callback@window->place#initializeMap" : "turbo:submit-end->form#submitEnd",
              form_target: "frame"
            }) do |form| %>
    <% if params[:attribute] == "name" %>
      <div class="inputs-wrapper">
        <div class="form-group">
          <%= form.label t('name_of_place') %>
          <%= form.text_field :name, placeholder: "X Vegan Cafe", value: @place.name, size: nil, autofocus: true, class: "modal-input", required: true, maxlength: 100 %>
        </div>
      </div>
    <% end %>
    <% if params[:attribute] == "vegan" %>
      <div class="inputs-wrapper">
        <%= form.label t('place_vegan') %>
        <%= form.select :vegan, options_for_select([[ t('vegan'), true], [ t('has_option'), false]], selected: @place.vegan), {}, class: "select-type" %>
      </div>
    <% end %>
    <% if params[:attribute] == "location" %>
      <div id="place-location">
        <div id="modal-location-wrapper">
          <div class= "form-group">
            <%= form.label t('address') %>
            <%= form.text_field :address, value: @place.address,  data: {place_target: "field", action: "keydown->place#preventSubmit"}, placeholder: "X Vegan Cafe, Kadıköy...", required: true, maxlength: 100, autofocus: true, id: "location-input" %>
            <div id="modal-map"  data-place-target="map"></div>
          </div>

          <%= form.hidden_field :latitude, data: {place_target: "latitude"} %>
          <%= form.hidden_field :longitude, data: {place_target: "longitude"}  %>
          <%= form.hidden_field :place_id, data: {place_target: "place_id"}%>
        </div>
      </div>
    <% end %>
    <% if params[:attribute] == "phone" %>
      <div class= "inputs-wrapper">
        <div class="form-group">
          <%= form.label t('phone'), style: "display: block" %>
          <%= form.phone_field :phone, value: @place.phone, pattern: "[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}",  placeholder: "2121112233", title: t('.phone_error_message'), autofocus: true  %>
        </div>
      </div>
    <% end %>
    <% if params[:attribute] == "web" %>
      <div class="inputs-wrapper">
        <div class= "form-group">
          <%= form.label t('websiteAddress'), style: "display: block" %>
          <%= form.text_field :web_url, value: @place.web_url, placeholder: "veganharita.com", pattern: "(?!www)^(([a-z0-9]+(-[a-z0-9]+)*\.)*[a-z0-9]+(-[a-z0-9]+)*\.)+[a-z]{2,}(\/[a-zA-Z0-9]*)?$", title: t('.web_url_error_message') , maxlength: 50, autofocus: true %>
        </div>
      </div>
    <% end %>
    <% if params[:attribute] == "instagram" %>
      <div class= "inputs-wrapper">
        <div class="form-group modal-social-group">
          <%= form.label t('instagram'), style: "display: block" %>
          <span class="social-platform"> <%= t :instagram_link %> </span>
          <%= form.text_field :instagram_handle, value: @place.instagram_handle, class: "social-input", autofocus: true, maxlength: 30, pattern: "^[a-zA-Z0-9_]*$", title: t('only_alphanumeric') %>
        </div>
      </div>
    <% end %>
    <% if params[:attribute] == "facebook" %>
      <div class= "inputs-wrapper">
        <div class="form-group modal-social-group">
          <%= form.label t('facebook'), style: "display: block" %>
          <span class="social-platform"> <%= t :facebook_link %> </span>
          <%= form.text_field :facebook_handle, value: @place.facebook_handle, class:"social-input", autofocus: true, maxlength: 50, pattern: "^[a-zA-Z0-9_]*$", title: t('only_alphanumeric') %>
        </div>
      </div>
    <% end %>
    <% if params[:attribute] == "x" %>
      <div class= "inputs-wrapper">
        <div class="form-group modal-social-group">
          <%= form.label t('x'), style: "display: block" %>
          <span class="social-platform"> <%= t :x_link %> </span>
          <%= form.text_field :x_handle, value: @place.x_handle, class:"social-input-x", autofocus: true, maxlength: 50, pattern: "^[a-zA-Z0-9_]*$", title: t('only_alphanumeric') %>
        </div>
      </div>
    <% end %>
    <% if params[:attribute] == "tags" %>
      <div class="add-new-place-form-group tags-form-container" id="place-tags-modal" >
        <%= form.label t('select_tags'), style: "display: block"%>
        <div class="tags-form">
          <% Tag.all.each do |tag| %>
            <span class="checkbox-inline tag">
              <%= form.check_box :tag_ids, { multiple: true, class: "tag-select", checked: @place.tag_ids.include?(tag.id) }, tag.id, nil %>
              <%= form.label :tag_ids, I18n.t("tags.#{tag.name}"), value: tag.id, class: "tag-names" %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if params[:attribute] == "images" %>
      <div class= "add-new-photos select-wrapper" data-controller="utils" data-utils-assets-value="<%= [t('files_selected'), t('no_file_selected')].to_json %>">
        <%= form.label t('new_photos') %>
        <span id="upload-edit-btn" data-utils-target="uploadBtn"><%= t(:no_file_selected) %></span>
        <%= form.file_field :images, multiple: true, direct_upload: true, accept: "image/jpeg,image/jpg,image/png,image/webp", data: { action: "change->utils#uploadFiles", content: t('select_image')} %>
      </div>

      <% if @place.images.attached? %>
        <div class= "photo-select-form-container">
          <p> <%= t :select_delete %> </p>
          <div class="select-images-container">
            <% @place.images.each do |image| %>
              <div class="image-checkbox">
                <%= form.check_box :deleted_images, { multiple: true }, image.id, nil %>
                <%= image_tag cdn_proxy_url(image.variant(:medium)), class: "image-checkbox-image" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="form-buttons">
      <%= form.submit t('submit'), class:"primary-green-btn", data: { turbo_confirm: t('sure') }  %>
      <a href="#" class="turbo-cancel-btn"> <%= t :nevermind %> </a>
    </div>
  <% end %>
<% end %>
