<p style="color: green"><%= notice %></p>

<h1>Places</h1>

<div id="places">
  <% @places.each do |place| %>
    <%= render place %>
    <p>
      <%= link_to "Show this place", place %>
    </p>
  <% end %>
</div>

<%= link_to "New place", new_place_path %>

<h3>My Google Maps Demo</h3>
<!--The div element for the map -->
<div id="map" data-map-target="map" data-map-places="<%= @places.to_json(include: :images)  %>" data-controller="map"></div>
