<%= content_for :description, t(".description") %>

<div class="map-container" data-controller="map" data-action="google-maps-callback@window->map#initializeMap" data-map-assets-value='<%= map_assets %>'>
  <div id="search-container">
    <%= render "places/search_form" %>
  </div>
  <div
  id="map"
  data-map-target="map">
  </div>
</div>

<div id="last-added-places-container">
  <h3> <%= t :last_added %> </h3>
  <div id="last-places-list">
    <% @last_ten_places.each do |place| %>
      <%= link_to "#{place.name}", place_path(place.slug), class: "place-card" %>
    <% end %>
  </div>
  <div id="footer-links">
    <div class="vh-instagram">
      <%= link_to "https://www.instagram.com/veganharita", target: "_blank" do %>
        <%= image_tag ('instagram.svg') %>
        <span>veganharita</span>
      <% end %>
    </div>
    <div class="vh-code">
      <%= link_to "https://github.com/huseyinbiyik/vegan-harita", target: "_blank" do %>
        <%= image_tag ('github.svg') %>
      <% end %>
    </div>
  </div>
</div>
