<%= render @place %>






<div id="menu">
  <div id="menu-header">
      <h1>MENÜ</h1>
      <%= link_to new_place_menu_path(@place) do %>
        <%= image_tag "add-icon.svg" %>
        <span>Ürün Ekle</span>
      <% end %>
    </div>

  <h2 class="category">Foods</h2>

  <%= render @place.menus.where(product_category: "yemek") %>

  <h2 class="category"> Drinks </h2>

  <%= render @place.menus.where(product_category: "içecek") %>

  <h2 class="category"> Desserts </h2>

  <%= render @place.menus.where(product_category: "tatlı") %>
</div>
