<%= render @place %>

<div class="place-details">
  <%= image_tag "vegan-place.svg", class: "detail-icon" %>
  <%= image_tag "open.svg", class: "detail-icon" %>
  <%= image_tag "direction.svg", class: "detail-icon" %>
  <%= image_tag "phone.svg", class: "detail-icon" %>

</div>

<div id="menu">
  <div id="menu-header">
      <h1>MENÜ</h1>
      <%# <%= link_to "Ürün Ekle", new_place_menu_path(@place) %>
      <%# a link to add menu item with add icon and "Ürün Ekle" text %>
      <%= link_to new_place_menu_path(@place) do %>
        <%= image_tag "add-icon.svg" %>
        <span>Ürün Ekle</span>
      <% end %>
    </div>

  <h2>Foods</h2>

  <%= render @place.menus.where(product_category: "food") %>

  <h2> Drinks </h2>

  <%= render @place.menus.where(product_category: "drink") %>

  <h2> Desserts </h2>

  <%= render @place.menus.where(product_category: "dessert") %>
</div>