<nav>
  <ul id="nav-menu">
    <% if user_signed_in? && current_user.place_owner? %>
      <li class="nav-link panel desktop">
        <%= link_to place_owner_summary_path(current_user.places.first.slug), class: "nav-admin-link" do %>
          <%= inline_svg_tag "owner.svg", class: "nav-icon" %>
          <span><%= t :business_panel %></span>
        <% end %>
      </li>
    <% end %>
    <li class="nav-link <%= 'active' if current_page?(root_path) %>">
      <%= link_to root_path do %>
        <%= inline_svg_tag "places.svg", class: "nav-icon" %>
        <span><%= t :place_index %></span>
      <% end %>
    </li>
    <li class="nav-link">
      <%# will be link to future products page %>
      <%= link_to root_path do %>
        <%= inline_svg_tag "products.svg", class: "nav-icon" %>
        <span><%= t :product_index %></span>
      <% end %>
    </li>
    <li class="nav-link <%= 'active' if current_page?(new_place_path) %>" id="add-place-wrapper" data-controller="place-link">
      <%= link_to new_place_path, id: "add-place-link" do %>
        <%= inline_svg_tag "add-place.svg", class: "nav-icon", id: "add-place-icon" %>
        <span><%= t :add_place %></span>
      <% end %>
    </li>
    <li class="nav-link <%= 'active' if current_page?(contact_path) %>">
      <%= link_to contact_path, data: { turbo: false } do %>
        <%= inline_svg_tag "contact.svg", class: "nav-icon" %>
        <span><%= t :contact %></span>
      <% end %>
      </li>
    <% if user_signed_in? %>
      <li class="wrapper nav-link <%= 'active' if current_page?(account_links_path) || current_page?(edit_user_registration_path) || current_page?(approvals_path) || (user_signed_in? && current_user.places.first.present? && current_page?(place_owner_summary_path(current_user.places.first.slug))) %>"> 
         <%= link_to account_links_path do %>
          <% if current_user.avatar.attached? %>
            <%= image_tag(cdn_proxy_url(current_user.avatar.variant(:thumb)), id: "account-icon", height: "40px", width: "40px") %>
          <% else %>
            <%= inline_svg_tag "account.svg", class: "nav-icon", id: "account-icon" %>
          <% end %>
          <span class="mobile"> <%= t :my_account %> </span>
        <% end %>
        <ul class="dropdown desktop">
          <li class= "nav-link <%= 'active' if current_page?(edit_user_registration_path) %>">
            <%= link_to edit_user_registration_path do%>
              <% if current_user.avatar.attached? %>
                <%= image_tag(cdn_proxy_url(current_user.avatar.variant(:thumb)), class: "nav-icon") %>
              <% else %>
                <%= inline_svg_tag "account.svg", class: "nav-icon" %>
              <% end %>
              <span> <%= t :my_account %> </span>
            <% end %>
          </li>
          <li class= "nav-link desktop">
            <%= link_to destroy_user_session_path, method: :delete, id: "logout-link" do %>
              <span><%= t :logOut %></span>
            <% end %>
          </li>
        </ul>
      </li>
    <% else %>
      <li class="nav-link <%= 'active' if current_page?(new_user_session_path) %>">
        <%= link_to new_user_session_path do %>
          <%= inline_svg_tag "account.svg", class: "nav-icon" %>
          <span><%= t :logIn %></span>
        <% end %>
      </li>
    <% end %>
    </li>
  </ul>
</nav>