<header id="navbar">
  <div data-controller="navigation">
    <h1 id="logo">Vegan Harita</h1>
    <%= render "places/search_form" %>
    <%= image_tag "search-icon.svg",
    data: {
      action: "click->navigation#toggle "
    },
    id: "search-icon" %>

  </div>
  <nav>
    <ul id="nav-menu">
      <li>
        <%= link_to "New place", new_place_path %>
      </li>
      <li>
        <%# # Add link to sign up and login %>
        <% if user_signed_in? %>
          <%# Add username here "logged in as" email %>
          <p>Logged in as
            <%= current_user.email %></p>

          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Log in", new_user_session_path %>
        <% end %>
      </li>
    </ul>
    <button id="burger" class="mobile">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </nav>
</header>
