<header id="navbar">
  <%= link_to image_tag("logo.svg", alt: "Logo", id: "logo"), root_path %>

  <div id="search-container" data-controller="search">
    <%= render "places/search_form" %>

    <%= image_tag "search-icon.svg",
    data: {
      action: "click->search#toggle "
    },
    id: "search-icon" %>
  </div>

<nav data-controller="navigation" data-navigation-state-value="false">
  <ul id="nav-menu" data-navigation-target="menu">
    <li class="nav-link">
      <% if user_signed_in? && current_user.role == "admin" %>
        <%= link_to approvals_path, class:"nav-admin-link medium-font dark-green" do %>
          <span>Onay Paneli</span>
          <% end %>
        <% end %>
    </li>
    <li>
      <%= link_to new_place_path, id:"add-place-link" do %>
        <%= image_tag "add-place.svg"%>
        <span>Mekan Ekle</span>
      <% end %>
    </li>
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete, id: "logout-link", class: "session-links medium-font bg-brown beige" do %>
          <%= image_tag "logout-icon.svg" %>
          <span>Çıkış Yap</span>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, id: "sign-in-link", class: "session-links medium-font bg-brown" do %>
          <%= image_tag "sign-in-icon.svg" %>
          <span class="beige">Giriş Yap</span>
        <% end %>
      <% end %>
    </li>
  </ul>

  <button id="burger" class="mobile" data-action="click->navigation#toggle">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>

</header>
