<header id="navbar">
  <div id="logo-container">
    <a href="/" id="logo">Vegan Harita</a>
    <span id="beta">BETA</span>
  </div>

  <div id="search-container" data-controller="search">
    <%= render "places/search_form" %>

    <%= image_tag "search-icon.svg",
    data: {
      action: "click->search#toggle "
    },
    id: "search-icon" %>
  </div>

<nav data-controller="navigation" data-navigation-state-value="false">
  <ul id="nav-menu" data-navigation-target="menu">
    <li>
      <%= link_to new_place_path, id:"add-place-link" do %>
        <%= image_tag "add-place.svg"%>
        <span>Yer Ekle</span>
      <% end %>
    </li>
    <li>
      <% if user_signed_in? %>
        <%# <%= link_to "Çıkış Yap", destroy_user_session_path, method: :delete %>
        <%= link_to destroy_user_session_path, method: :delete, id: "logout-link", class: "session-links" do %>
          <%= image_tag "logout-icon.svg" %>
          <span>Çıkış Yap</span>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, id: "sign-in-link", class: "session-links" do %>
          <%= image_tag "sign-in-icon.svg" %>
          <span>Giriş Yap</span>
        <% end %>
      <% end %>
    </li>
  </ul>

  <button id="burger" class="mobile" data-action="click->navigation#toggle">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>

</header>
