<%# mobile nav menu %>
<nav class="site-nav" id="mobile-nav">
  <ul class="nav-menu">
    <%# places %>
    <li class="nav-link">
      <%= link_to root_path do %>
        <%= inline_svg_tag "places.svg", class: "nav-icon" %>
        <span><%= t :place_index %></span>
      <% end %>
    </li>

    <%# product %>
    <li class="nav-link">
      <%= link_to products_path do %>
        <%= inline_svg_tag "products.svg", class: "nav-icon" %>
        <span><%= Product.model_name.human(count: :many) %></span>
      <% end %>
    </li>

    <%# add --> opens two hidden options on tap: add place and add product %>
    <%# check data-controller connection %>
    <li class="nav-link" data-controller="popup" data-action="click->popup#toggle">
      <%= inline_svg_tag "add-place.svg", class: "nav-icon", id: "add-place-icon" %>
      <span><%= t :add %></span>
      <div id="add-options" data-popup-target="options" class="hidden">
        <div>
          <%= link_to new_place_path, data: { action: "click->popup#hide" } do %>
            <%= inline_svg_tag "places.svg", class: "nav-icon" %>
          <% end %>
          <%= link_to new_product_path, data: { action: "click->popup#hide" } do %>
            <%= inline_svg_tag "products.svg", class: "nav-icon" %>
          <% end %>
        </div>
      </div>
    </li>

    <%# contact %>
    <li class="nav-link">
      <%= link_to contact_path, data: { turbo: false } do %>
        <%= inline_svg_tag "contact.svg", class: "nav-icon" %>
        <span><%= t :contact %></span>
      <% end %>
    </li>

    <%# account / login --> "account" directs to a page displaying account links according the user like admin/owner panel, edit account and logout.
    "login" directs to login page %>
    <li class="nav-link">
      <% if user_signed_in? %>
        <%= link_to account_links_path, data: { controller: "link", link_target: "link" } do %>
          <% if current_user.avatar.attached? %>
            <%= image_tag(rails_public_blob_url(current_user.avatar.variant(:thumb)), class: "account-icon", height: "40px", width: "40px") %>
          <% else %>
            <%= inline_svg_tag "account.svg", class: "nav-icon", class: "account-icon" %>
          <% end %>
          <span> <%= t :my_account %> </span>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <%= inline_svg_tag "account.svg", class: "nav-icon" %>
          <span><%= t :logIn %></span>
        <% end %>
      <% end %>
    </li>

    <%# every main link on the mobile navigation menu is somewhat highlighted if their paths or their related paths are active %>
  </ul>
</nav>



<nav id="site-nav" style="display: none">
  <ul id="nav-menu">
    <% if user_signed_in? && current_user.admin? %>
      <li class="nav-link panel desktop">
        <%= link_to admin_root_path, class: "nav-admin-link" do %>
          <span><%= t :admin_panel %></span>
        <% end %>
      </li>
    <% end %>
    <% if user_signed_in? && current_user.place_owner? %>
      <li class="nav-link panel desktop">
        <%= link_to place_owner_summary_path(current_user.places.first.slug), class: "nav-admin-link" do %>
          <span><%= t :business_panel %></span>
        <% end %>
      </li>
    <% end %>
    <li class="nav-link <%= 'active' if current_page?(root_path) %>">
      <%= link_to root_path do %>
        <%= inline_svg_tag "places.svg", class: "nav-icon" %>
        <span><%= t :place_index %></span>
      <% end %>
    </li>
    <li class="nav-link <%= 'active' if current_page?(products_path) %>">
      <%= link_to products_path do %>
        <%= inline_svg_tag "products.svg", class: "nav-icon" %>
        <span><%= Product.model_name.human(count: :many) %></span>
      <% end %>
    </li>
    <% if current_page?(root_path) || current_page?(products_path) %>
      <li class="nav-link desktop" id="add-new-wrapper">
        <% if current_page?(root_path) %>
          <%= link_to new_place_path, id: "add-place-link" do %>
            <%= inline_svg_tag "add-place.svg", class: "nav-icon", id: "add-place-icon" %>
            <span><%= t :add_place %></span>
          <% end %>
        <% elsif current_page?(products_path) %>
          <%= link_to new_product_path, id:"add-place-link" do %>
            <%= inline_svg_tag "add-place.svg", class: "nav-icon", id: "add-place-icon" %>
            <span><%= t :add_product %></span>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <li class="nav-link mobile" id="add-new" data-controller="popup" data-action="click->popup#toggle">
      <%= inline_svg_tag "add-place.svg", class: "nav-icon", id: "add-place-icon" %>
      <span><%= t :add %></span>
      <div id="add-options" data-popup-target="options" class="hidden">
        <div>
          <%= link_to new_place_path, data: { action: "click->popup#hide" } do %>
            <%= inline_svg_tag "places.svg", class: "nav-icon" %>
          <% end %>
          <%= link_to new_product_path, data: { action: "click->popup#hide" } do %>
            <%= inline_svg_tag "products.svg", class: "nav-icon" %>
          <% end %>
        </div>
      </div>
    </li>
    <li class="nav-link <%= 'active' if current_page?(contact_path) %>">
      <%= link_to contact_path, data: { turbo: false } do %>
        <%= inline_svg_tag "contact.svg", class: "nav-icon" %>
        <span><%= t :contact %></span>
      <% end %>
    </li>
    <% if user_signed_in? %>
      <li class="wrapper nav-link <%= 'active' if current_page?(account_links_path) || current_page?(edit_user_registration_path) || current_page?(admin_approvals_path) || (user_signed_in? && current_user.places.first.present? && current_page?(place_owner_summary_path(current_user.places.first.slug))) %>">
        <%= link_to account_links_path, data: { controller: "link", link_target: "link" } do %>
          <% if current_user.avatar.attached? %>
            <%= image_tag(rails_public_blob_url(current_user.avatar.variant(:thumb)), class: "account-icon", height: "40px", width: "40px") %>
          <% else %>
            <%= inline_svg_tag "account.svg", class: "nav-icon", class: "account-icon" %>
          <% end %>
          <span class="mobile"> <%= t :my_account %> </span>
        <% end %>
        <ul class="dropdown desktop">
          <li class="nav-link <%= 'active' if current_page?(edit_user_registration_path) %>">
            <%= link_to edit_user_registration_path do %>
              <% if current_user.avatar.attached? %>
                <%= image_tag(rails_public_blob_url(current_user.avatar.variant(:thumb)), class: "nav-icon") %>
              <% else %>
                <%= inline_svg_tag "account.svg", class: "nav-icon" %>
              <% end %>
              <span> <%= t :my_account %> </span>
            <% end %>
          </li>
          <li class="nav-link desktop">
            <%= link_to destroy_user_session_path, method: :delete, id: "logout-link" do %>
              <span><%= t :logOut %></span>
            <% end %>
          </li>
        </ul>
      </li>
    <% else %>
      <li class="nav-link <%= 'active' if current_page?(new_user_session_path) %>">
        <%= link_to new_user_session_path do %>
          <%= inline_svg_tag "account.svg", class: "nav-icon" %>
          <span><%= t :logIn %></span>
        <% end %>
      </li>
    <% end %>
    </li>
  </ul>
</nav>
